= form_for @evaluation do |f|
  - if @evaluation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@evaluation.errors.count, "error")} prohibited this evaluation from being saved:"
      %ul
        - @evaluation.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
