.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          =t(:evaluation, scope: 'activerecord.models')
          =@evaluation.id
      .card-content
        .section
          %h6= t(:application, scope: 'activerecord.attributes.evaluation')
          = @evaluation.application.to_label
        .section
          %h6= t(:criterium, scope: 'activerecord.attributes.evaluation')
          = @evaluation.criterium&.name
        .section
          %h6= t(:evaluator, scope: 'activerecord.attributes.evaluation')
          = @evaluation.evaluator&.name
        .section
          %h6= t(:evaluation_date, scope: 'activerecord.attributes.evaluation')
          = @evaluation.evaluation_date
        .section
          %h6= t(:result, scope: 'activerecord.attributes.evaluation')
          = @evaluation.result
        .section
          %h6= t(:description, scope: 'activerecord.attributes.evaluation')
          = @evaluation.description
      .card-action
        = link_to t(:edit), edit_evaluation_path(@evaluation)
        = link_to t(:back), evaluations_path
