.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          =t(:criterium, scope: 'activerecord.models')
          =@criterium.id
      .card-content
        .section
          %h6= t(:criteria_group, scope: 'activerecord.models')
          = @criterium.criteria_group.name
        .section
        %p
          %h6= t(:number, scope: 'activerecord.attributes.criterium')
          = @criterium.number
        .section
          %h6= t(:name, scope: 'activerecord.attributes.criterium')
          = @criterium.name
        .section
          %h6= t(:description, scope: 'activerecord.attributes.criterium')
          = @criterium.description
        .section
          %h6= t(:weight, scope: 'activerecord.attributes.criterium')
          = @criterium.weight
      .card-action
        = link_to t(:edit), edit_criterium_path(@criterium)
        = link_to t(:back), criteria_path
