.carousel.carousel-slider.center
  .carousel-item.purple.white-text{href: "#one!"}
    .container{style: 'width: 70% !important'}
      %p.white-text{style: 'font-size: 2.28rem;'}
        เปิดรับสมัครเข้าร่วมโครงการ Q-BUS
        รุ่นที่ 1 ประจำปี 2562
      %h5.white-text
        ขอเชิญผู้ประกอบการขนส่งรถโดยสารสาธารณะสมัครเข้าร่วมโครงการ
        %br
        ได้ตั้งแต่วันที่ 1 เม.ย. 2562 ถึง 30 เม.ย. 2562
        %br
        %br
        %br
      = link_to 'สมัครเข้าร่วมโครงการ', apply_applications_path, class: 'btn gradient-45deg-deep-orange-orange border-round'
  /.carousel-item.purple.white-text{href: "#two!"}
  /  %h2.white-text ข่าวประชาสัมพันธ์ 1
  /.carousel-item.purple.white-text{href: "#three!"}
  /  %h2.white-text ข่าวประชาสัมพันธ์ 2
.container{style: 'width: 70% !important;'}
  = render 'layouts/flash'
  .row#left-menu
    - if !logged_in?
      .col.s12.m4
        .card.border-radius-6
          .card-content
            = simple_form_for(:session, :url => login_path, :method => :post) do |f|
              .card-title
                %h4 เข้าสู่ระบบ
              .row
                .input-field.col.s12
                  %i.material-icons.prefix person_outline
                  = f.input_field :email
                  = f.label :email
              .row
                .input-field.col.s12
                  %i.material-icons.prefix lock_outline
                  = f.input_field :password
                  = f.label :password, 'รหัสผ่าน'
              .row
                .input-field.col.s12
                  %p
                    = f.label :remember_me  do
                      = f.input_field :remember_me, as: :boolean
                      %span= t(:remember_me)
              .row
                .input-field.col.s12
                  = f.submit 'เข้าสู่ระบบ', class: 'btn border-round col s12 gradient-45deg-purple-deep-purple'
              .row
                .input-field.col.s6
                  %p.margin.medium-small
                    = link_to 'สมัครใช้งาน', register_path
                .input-field.col.s6
                  %p.margin.right-align.medium-small
                    = link_to 'ลืมรหัสผ่าน', new_password_reset_path
    - else
      .col.s12.m4
        .card.border-radius-6
          .card-content.center
            %h5 ยินดีต้อนรับ
            %h5 คุณ #{@current_user.name}
          .card-action.center
            = link_to 'ไปยังหน้าหลัก', process_dashboard_path, class: 'btn border-round col s12 gradient-45deg-deep-orange-orange waves-effect waves-light'
            %br
            %br
            = link_to 'สมัครเข้าร่วมโครงการ', apply_applications_path, class: 'btn border-round col s12 gradient-45deg-green-teal waves-effect waves-light'
            %br
            %br
            = link_to 'ต่ออายุ', extend_applications_path, class: 'btn border-round col s12 gradient-45deg-green-teal darken-1 waves-effect waves-light'
            %br
            %br
            %a{"href" => "logout", "data-method" => "delete", class: 'btn border-round col s12 gradient-45deg-red-pink darken-1 waves-effect waves-light'}
              ออกจากระบบ
            %br
            %br
    .col.s12.m8
      .row
        .col.s12.m6
          .card.small
            .card-content
              .card-title
                %h5 ส่งข้อคิดเห็นหรือเรื่องร้องเรียน
              ผู้ใช้บริการรถโดยสารสาธารณะ สามารถให้ช้อคิดเห็นหรือ ส่งเรื่องร้องเรียนด้านการให้บริการได้
            .card-action
              .center
                = link_to 'ส่งข้อคิดเห็น', add_comment_path, class: 'btn border-round gradient-45deg-deep-orange-orange waves-effect waves-light'
        .col.s12.m6
          .card.small
            .card-content
              .card-title
                %h5 ตรวจสอบรายชื่อผู้ได้รับรางวัล
              ผู้ใช้บริการรถโดยสารสาธารณะ สามารถตรวจสอบรายชื่อผู้ประกอบการหรือเส้นทางที่ได้รับรางวัลได้
            .card-action
              .center
                = link_to 'ตรวจสอบผู้ได้รับรางวัล', report_award_path, class: 'btn border-round gradient-45deg-deep-orange-orange waves-effect waves-light'

      .card
        .card-content
          .card-title
            %h5 เอกสารที่เกี่ยวข้อง
          .row
            .col.s4.center
              %a{href: '/form/คู่มือการใช้งาน.pdf'}
                %i.material-icons{style: 'font-size: 3rem;'} library_books
                %br
                คู่มือการใช้งาน

            .col.s4.center
              %a{href: '/form/แบบสำรวจข้อมูลประกอบการขนส่ง.pdf'}
                %i.material-icons{style: 'font-size: 3rem;'} list
                %br
                แบบการตรวจประเมินหน้างาน
            .col.s4.center
              %a
                %i.material-icons{style: 'font-size: 3rem;'} question_answer
                %br
                คำถามพบบ่อย
          .row
            .col.s4.center
              %a{href: '/form/หนังสือยืนยันการเข้าร่วม Q-Bus.docx'}
                %i.material-icons{style: 'font-size: 3rem;'} done_all
                %br
                แบบยืนยันการเข้าร่วมโครงการ
            .col.s4.center
              %a{href: '/form/ตัวอย่างเอกสารประกอบการประเมิน.pdf'}
                %i.material-icons{style: 'font-size: 3rem;'} insert_drive_file
                %br
                ตัวอย่างเอกสารประกอบการประเมิน
            .col.s4.center

  .row
    .col.s12
      %h4 ข่าวประชาสัมพันธ์
  .row
    - Announcement.last(3).each do |announcement|
      .col.s4
        .card.medium
          - if announcement.main_attachment.attached? && announcement.main_attachment&.representable?
            .card-image{style: 'background-color: white;'}
              = image_tag rails_representation_url(announcement.main_attachment.representation(resize: '320x240'))
              %span.card-title{style: 'background-color: purple; font-weight: bold; padding: 10px'}
                = announcement.title
          - else
            .card-image{style: 'height: 340px; background-color: white;'}
              %span.card-title{style: 'background-color: purple; font-weight: bold; padding: 10px'}
                = announcement.title
          .card-content{style: 'height: 5rem; overflow: hidden; padding: 10px'}
            = raw announcement.description
          .card-action
            %a{:href => publish_announcement_path(announcement)}
              อ่านต่อ




:javascript
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

