.carousel.carousel-slider.center
  .carousel-item.purple.white-text{href: "#one!"}
    .container{style: 'width: 70% !important'}
      %p.white-text{style: 'font-size: 2.28rem;'} 
        เปิดรับสมัครเข้าร่วมโครงการ Q-BUS 
        รุ่นที่ 1 ประจำปี 2562
      %h5.white-text
        ขอเชิญผู้ประกอบการขนส่งรถโดยสารสาธารณะสมัครเข้าร่วมโครงการ
        %br
        ได้ตั้งแต่วันที่ 1 เม.ย. 2562 ถึง 30 เม.ย. 2562
        %br
        %br
        %br
      = link_to 'สมัครเข้าร่วมโครงการ', apply_applications_path, class: 'btn gradient-45deg-deep-orange-orange border-round'
  .carousel-item.purple.white-text{href: "#two!"}
    %h2.white-text ข่าวประชาสัมพันธ์ 1
  .carousel-item.purple.white-text{href: "#three!"}
    %h2.white-text ข่าวประชาสัมพันธ์ 2
.container{style: 'width: 70% !important;'}
  .row
    - if !logged_in?
      .col.s12.m4
        .card.border-radius-6
          .card-content
            = simple_form_for(:session, :url => login_path, :method => :post) do |f|
              .card-title
                %h4 เข้าสู่ระบบ
              .row
                .input-field.col.s12
                  %i.material-icons.prefix person_outline
                  = f.input_field :email
                  = f.label :email
              .row
                .input-field.col.s12
                  %i.material-icons.prefix lock_outline
                  = f.input_field :password
                  = f.label :password, 'รหัสผ่าน'
              .row
                .input-field.col.s12
                  = f.submit 'เข้าสู่ระบบ', class: 'btn border-round col s12'
              .row
                .input-field.col.s6
                  %p.margin.medium-small
                    = link_to 'ลงทะเบียน', register_path
                .input-field.col.s6
                  %p.margin.right-align.medium-small
                    = link_to 'ลืมรหัสผ่าน', register_path
    - else
      .col.s12.m4
        .card.border-radius-6
          .card-content.center
            %h5 ยินดีต้อนรับ
            %h5 เข้าสู่ระบบ
          .card-action.center
            = link_to 'ไปยังหน้าหลัก', process_dashboard_path, class: 'btn border-round col s12 gradient-45deg-deep-orange-orange waves-effect waves-light'
            %br
            %br
            = link_to 'สมัครเข้าร่วมโครงการ', apply_applications_path, class: 'btn border-round col s12 gradient-45deg-green-teal waves-effect waves-light'
            %br
            %br
            = link_to 'ต่ออายุ', extend_applications_path, class: 'btn border-round col s12 gradient-45deg-green-teal darken-1 waves-effect waves-light'
            %br
            %br
    .col.s12.m8
      .row
        .col.s12.m6
          .card.small
            .card-content
              .card-title
                %h5 ส่งข้อคิดเห็นหรือเรื่องร้องเรียน
              ผู้ใช้บริการรถโดยสารสาธารณะ สามารถให้ช้อคิดเห็นหรือ ส่งเรื่องร้องเรียนด้านการให้บริการได้
            .card-action
              .center
                = link_to 'ส่งข้อคิดเห็น', add_comment_path, class: 'btn border-round gradient-45deg-deep-orange-orange waves-effect waves-light'
        .col.s12.m6
          .card.small
            .card-content
              .card-title
                %h5 ตรวจสอบรายชื่อผู้ได้รับรางวัล
              ผู้ใช้บริการรถโดยสารสาธารณะ สามารถตรวจสอบรายชื่อผู้ประกอบการหรือเส้นทางที่ได้รับรางวัลได้
            .card-action
              .center
                = link_to 'ตรวจสอบผู้ได้รับรางวัล', report_award_path, class: 'btn border-round gradient-45deg-deep-orange-orange waves-effect waves-light'
        
      .card
        .card-content
          .card-title
            %h5 เอกสารที่เกี่ยวข้อง
          .row
            .col.s4.center
              %a{href: 'asdf'}
                %i.material-icons.medium library_books
                %br
                คู่มือการใช้งาน

            .col.s4.center
              %a
                %i.material-icons.medium list_alt
                %br
                แบบฟอร์ม
            .col.s4.center
              %a
                %i.material-icons.medium question_answer
                %br
                คำถามพบบ่อย
.row.deep-purple.lighten-3
  .col.s12




:javascript
  $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true
  });

