.row
  .col.s12
    .card
      .card-image{style: 'background-color: white; min-height:240px;'}
        - if @announcement.main_attachment&.attached? && @announcement.main_attachment.content_type.starts_with?('image/')
          = image_tag rails_blob_url(@announcement.main_attachment)
        %span.card-title{style: 'background-color: gray; font-weight: bold;'}
          = @announcement.title
      .card-content
        %div
          = raw @announcement.description
        - if @announcement.other_attachments&.attached? == true
          %h6
            = t(:other_attachments, scope: 'activerecord.attributes.announcement')
          - @announcement.other_attachments.each do |other_attachment|
            %p
              = link_to other_attachment.filename, rails_blob_path(other_attachment, disposition: "attachment")
        %h6.section{style: 'text-align: right;'}
          = 'ผู้เขียน: ' + (@announcement.user&.name || '<ไม่ระบุตัวตน>')
        %h6.section{style: 'text-align: right;'}
          = 'สร้างเมื่อ: ' + @announcement.created_at.to_s
      .card-action
        %a{:href => public_announcement_path}
          = t(:back)
