
.row
  .col.s12
    .container
      .card-panel
        %h3 ลงชื่อเข้าใช้งานระบบ
        %p#notice= notice
        = simple_form_for(:session, :url => login_path, :method => :post) do |f|
          - if f.error_notification
            .row
              .col.s12
                .card-alert.card.gradient-45deg-red-pink
                  .card-content.white-text
                    %i.material-icons.prefix error
                    = strip_tags(f.error_notification)
                  %button.close.white-text{type: "button", data: {dismiss: 'alert'}, :area-label => 'Close'}
                    %span{:area-hidden => 'true'} ×
          .row
            .col.s12
              .row
                .input-field.col.s12
                  %i.material-icons.prefix email
                  = f.input_field :email
                  = f.label :email
              .row
                .input-field.col.s12
                  %i.material-icons.prefix lock
                  = f.input_field :password
                  = f.label :password
              .row
                .input-field.col.s12
                  %p
                    = f.label :remember_me  do
                      = f.input_field :remember_me, as: :boolean
                      %span= t(:remember_me)

          = f.button :submit, class: "btn waves-light left"
          = link_to t(:cancel), root_path, style: "margin-left: 2em", class: "btn white black-text waves-black waves-effect"
%p
