
.row
  .col.s6.offset-s3
    .container
      .card-panel
        %h3 ลงชื่อเข้าใช้งานระบบ
        %p#notice= notice
        = simple_form_for(:session, :url => login_path, :method => :post) do |f|
          - if f.error_notification
            .row
              .col.s12
                .card-alert.card.gradient-45deg-red-pink
                  .card-content.white-text
                    %i.material-icons.prefix error
                    = strip_tags(f.error_notification)
                  %button.close.white-text{type: "button", data: {dismiss: 'alert'}, :area-label => 'Close'}
                    %span{:area-hidden => 'true'} ×
          .row
            .col.s12
              .row
                .input-field.col.s12
                  %i.material-icons.prefix email
                  = f.input_field :email
                  = f.label :email
              .row
                .input-field.col.s12
                  %i.material-icons.prefix lock
                  = f.input_field :password
                  = f.label :password
              .row
                .input-field.col.s12
                  %p
                    = f.label :remember_me  do
                      = f.input_field :remember_me, as: :boolean
                      %span= t(:remember_me)
          .row
            .input-field.col.s12
              = f.submit 'เข้าสู่ระบบ', class: 'btn border-round col s12 gradient-45deg-purple-deep-purple'
          .row
            .input-field.col.s6
              %p.margin.medium-small
                = link_to 'สมัครใช้งาน', register_path
            .input-field.col.s6
              %p.margin.right-align.medium-small
                = link_to 'ลืมรหัสผ่าน', new_password_reset_path
%p
