.row
  .col.s12.m4
    .card-title
      %h5 ข้อมูลพื้นฐาน
    .section
      %h6= t(:number, scope: 'activerecord.attributes.application')
      = @application.id
    .section
      %h6 วันที่ยื่นใบสมัคร
      =l( @application.created_at, format: "%d %B %Y")
    .section
      %h6 สถานะ
      = state_full(@application)
    .section
      %h6 ใบอนุญาตประกอบการขนส่ง
      = download_link @application.get_attachment(:license)
    .section
      %h6 สำเนาสัญญาหน้าแรก
      = download_link @application.get_attachment(:contract)
    .section
      %h6 หนังสือยืนยันการเข้าร่วมโครงการ
      = download_link @application.get_attachment(:signup)
  .col.s12.m4
    .card-title
      %h5 ข้อมูลผู้ประกอบการ
    .section
      %h6= t(:name, scope: 'activerecord.attributes.licensee')
      = @application.licensee.name || "-"
    .section
      %h6= t(:license_no, scope: 'activerecord.attributes.application')
      = @application.license_no || "-"
    .section
      %h6= t(:license_expire, scope: 'activerecord.attributes.application')
      = l(@application.license_expire, format: '%d %B %y', default: nil)
    .section
      %h6= t(:category, scope: 'activerecord.attributes.application')
      = @application.category_text
    .section
      %h6= t(:contact, scope: 'activerecord.attributes.application')
      = @application.contact || "-"
    .section
      %h6= t(:contact_tel, scope: 'activerecord.attributes.application')
      = @application.contact_tel || "-"
    .section
      %h6= t(:contact_email, scope: 'activerecord.attributes.application')
      = @application.contact_email || "-"
  .col.s12.m4
    .card-title
      %h5 ข้อมูลเส้นทาง
    - unless @application.category3?
      .section
        %h6= t(:route_no, scope: 'activerecord.attributes.route')
        = @application.route_no
      .section
        %h6= t(:start, scope: 'activerecord.attributes.route')
        = @application.route_start
      .section
        %h6= t(:destination, scope: 'activerecord.attributes.route')
        = @application.route_destination
      .section
        %h6= t(:car_count, scope: 'activerecord.attributes.application')
        = @application.car_count
      .section
        %h6= t(:trip_count, scope: 'activerecord.attributes.application')
        = @application.trip_count
    - else
      .section
        %h6= t(:service_area, scope: 'activerecord.attributes.application')
        = @application.service_area


