.row
  .col.s6
    - unless @application.category3?
      %p
        %h6= t(:route_no, scope: 'activerecord.attributes.route')
        = @application.route_no
      %p
        %h6= t(:start, scope: 'activerecord.attributes.route')
        = @application.route_start
      %p
        %h6= t(:destination, scope: 'activerecord.attributes.route')
        = @application.route_destination
    - else
      %p
        %h6 ไม่ประจำทาง
  .col.s6
    - unless @application.category3?
      %p
        %h6= 'จำนวนรถที่มีอยู่จริง (คัน)'
        = @application.car_count || "ไม่ระบุ"
      %p
        %h6= 'จำนวนเที่ยวเดินรถจริงเฉลี่ยต่อวัน (เที่ยว)'
        = @application.trip_count || "ไม่ระบุ"
