.row
  .col.s6
    - unless @application.category3?
      %p
        %h6= t(:start, scope: 'activerecord.attributes.route')
        = @application.route.start
      %p
        %h6= t(:destination, scope: 'activerecord.attributes.route')
        = @application.route.destination
    - else
      %p
        %h6= t(@application.category)
  .col.s6
    %p
      %h6= 'จำนวนรถที่มีอยู่จริง (คัน)'
      = @application.car_count || "ไม่ระบุ"
    %p
      %h6= 'จำนวนเที่ยวเดินรถจริงเฉลี่ยต่อวัน (เที่ยว)'
      = @application.trip_count || "ไม่ระบุ"
