.row
  .col.s12
    .card
      .card-content
        .card-title
          %h4 ส่งหลักฐานสำหรับการประเมิน ใบสมัครหมายเลข #{@application.id}

        .section
          .row
            .col.s12.m8
              = render partial: "applications/application"
            .col.s12.m4
              .card.gradient-45deg-light-green-amber
                .card-content
                  ใบสมัครนี้ได้รับการประเมินเบื้องต้นแล้ว ให้ผู้สมัครทำการนำส่งหลักฐานในหัวข้อต่าง ๆ ต่อไปนี้โดยให้ส่งเป็นไฟล์ประเภท pdf 
.row
  .col.s12.m4.push-m8
    .card.gradient-45deg-light-green-amber
      .card-content
        .card-title
          %h6 วิธีใช้งาน
        การส่งไฟล์ทำได้โดยเลือก "ประเภทของไฟล์" จากนั้นให้กดปุ่ม "แนบไฟล์" แล้วเลือกไฟล์ที่ต้องการ เมื่อเลือกแล้วให้กดปุ่ม "ส่ง"
        %br
        %br
        เมื่อแนบหลักฐานครบแล้ว ให้กดปุ่ม "ยืนยันหลักฐาน" ด้านล่างนี้
  .col.s12.m8.pull-m4
    .card
      = simple_form_for @attachment, url: add_attachment_application_path(@application), method: :post , html: { class: 'form_validate', multipart: true } do |f|
        .card-content
          %h4 แนบหลักฐาน
          .row
            .input-field.col.s12
              - #= f.input_field :criterium_attachment_id, data: {constrainwidth: 'false'}, collection: @application.sorted_attachments.map {|x| ["(#{x.criterium_attachment.criterium.name}) #{x.criterium_attachment.name}",x.criterium_attachment_id] }
              = f.input_field :evidence_id, data: {constrainwidth: 'false'},  collection: Evidence.all.each {|x| [x.name,x.id] }, class: 'required'
              = f.label 'ประเภทหลักฐาน'
          .row
            .col.s12
              .input-field.file-field
                .btn.green
                  %span เลือกไฟล์
                  = f.file_field :data
                .file-path-wrapper
                  = f.input_field :filename, class: 'file-path validate'
          .row
            .col.s12
              = f.button :submit, 'ส่งไฟล์แนบ', class: "btn waves-light left green"
        .card-action
          = link_to 'ยืนยันหลักฐาน', finish_add_evidences_application_path(@application), class: 'btn waves-effect waves-light gradient-45deg-purple-deep-purple', data: {confirm: 'เมื่อยืนยันแล้ว จะไม่สามารถแก้ไขเพิ่มเติมหลักฐานได้อีก ท่านจะยืนยันหรือไม่?'}
:css
  .tabs .tab a:hover {
    color: white;
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Color On Hover*/
  }

  .tabs .tab a:focus.active {
    color:#26a69a;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.8);
    /*Custom Background Color While Active*/
  }

  .tabs .indicator {
    /*background-color:#26a69a;*/
    color: black;
    background-color: black;
    /*Custom Color Of Indicator*/
  }

.row
  .col.s12
    .card.teal.lighten-4
      .card-content
        .card-title
          %h4 รายการหลักฐาน
      .card-tabs
        %ul.tabs.tabs-fixed-width.tabs-transparent
          - last_cg = nil
          - CriteriaGroup.need_evidence.each do |cg|
            %li.tab.black-text
              %a.black-text{href: "#tab_cg#{cg.id}"} #{cg.name_trim}
            .indicator.black-text{style: "z-index:1"}
      - CriteriaGroup.need_evidence.each do |cg|
        %div{ id: "tab_cg#{cg.id}"}
          .card-content.teal.lighten-5
            = render partial: "process/evidence", locals: {cgroups: [cg]}
