.row
  .col.s12
    .card
      .card-content
        .card-title
          %h3 สมัครเข้าร่วมโครงการ Q-BUS
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            %h4 ทำแบบประเมินตนเอง
            ให้ผู้สมัครประเมินตนเองในหัวข้อต่อไปนี้ โดยให้ประเมินผลในแต่ละข้อให้ครบถ้วน
            = simple_form_for(@application, url: apply_step3_application_path(@application), method: 'post') do |f|
              %table
                %thead
                  %th{style: "width: 70%;"} หัวข้อ
                  %th{style: "width: 15%;"} ใช่
                  %th{style: "width: 15%;"} ไม่ใช่
                %tbody
                  - @application.self_evaluations.each do |ev|
                    %tr
                      %td= "#{ev.criterium.name}"
                      %td
                        %label
                          = radio_button_tag "result[#{ev.id}]", 'ok', ev.result == true
                          %span ใช่
                      %td
                        %label
                          = radio_button_tag "result[#{ev.id}]", 'no', ev.result == false
                          %span ไม่ใช่
              = hidden_field_tag 'application[stage]', 'step3'
              %br
              = f.button :submit, 'ยืนยันใบสมัคร', class: "btn waves-light left"

