.row
  .col.s12
    .card
      .card-content
        .card-title
          %h3 สมัครเข้าร่วมโครงการ Q-BUS
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            = simple_form_for(@application, url: apply_step1_application_path(@application), method: :post, html: { class: 'form_validate', multipart: true }) do |f|
              %h4 กรอกข้อมูลพื้นฐาน
              - if @application.extend
                .card-panel.light-blue.lighten-4
                  ใบสมัครต่ออายุมาจากใบสมัครหมายเลข #{@application.extend_app&.id_text}
              .section
                %h5 ข้อมูลผู้ประกอบการ
                .row
                  .col.s6
                    .input-field
                      = text_field_tag 'licensee[name]', @application.licensee&.name, class: 'required'
                      = label_tag 'licensee[name]', t(:name , scope: 'activerecord.attributes.licensee')
                .row
                  .col.s4
                    .input-field
                      = f.input_field :contact, class: 'required'
                      = f.label :contact
                  .col.s4
                    .input-field
                      = f.input_field :contact_tel, class: 'required'
                      = f.label :contact_tel, 'โทรศัพท์'
                  .col.s4
                    .input-field
                      = f.input_field :contact_email, class: 'required'
                      = f.label :contact_email
                .row
                  .col.s12
                    %h6 หมวดการเดินรถ
                    = @application.category_text
              .divider
              .section
                .row
                  .col.s12.m8
                    %h5 เอกสารแนบเพื่อยืนยันการสมัคร 
                    กรุณาแนบเอกสารต่อไปนี้ โดยใช้ไฟล์ในรูปแบบ pdf, jpg หรือ png เท่านั้น และไฟล์ดังกล่าวจะต้องเห็นรายละเอียดได้ชัดเจน
                    %ol
                      %li ใบอนุญาตประกอบการขนส่ง
                      %li หน้าแรกของสัญญาการเดินรถ
                      %li
                        หนังสือยืนยันการเข้าร่วมโครงการ (สามารถดาวน์โหลดได้
                        %a{href: '/form/หนังสือยืนยันการเข้าร่วม Q-Bus.docx'} ที่นี่
                        )
                      
                  .col.s12.m4
                .row
                  .col.s12.m8
                    %h6 ใบอนุญาตประกอบการขนส่ง
                    .input-field.file-field
                      .btn-small.green
                        %span เลือกไฟล์
                        = file_field_tag 'attachment[license_data]'
                      .file-path-wrapper
                        = text_field_tag 'attachment[license_file_name]', nil, class: 'file-path validate'
                  .col.s12.m4{style: 'font-size:0.8rem; padding-top: 20px;'}
                    - if @application.get_attachment(:license)
                      อัพโหลดแล้วเมื่อ #{l(@application.get_attachment(:license)&.data&.created_at, format: :short, default: nil)}
                      %br
                    = download_link @application.get_attachment(:license), nil_text: nil, text: @application.get_attachment(:license)&.data&.filename
                .row
                  .col.s12.m8
                    %h6 สัญญาการเดินรถ
                    .input-field.file-field
                      .btn-small.green
                        %span เลือกไฟล์
                        = file_field_tag 'attachment[contract_data]'
                      .file-path-wrapper
                        = text_field_tag 'attachment[contract_file_name]', nil, class: 'file-path validate'
                  .col.s12.m4{style: 'font-size:0.8rem; padding-top: 20px;'}
                    - if @application.get_attachment(:contract)
                      อัพโหลดแล้วเมื่อ #{l(@application.get_attachment(:contract)&.data&.created_at, format: :short, default: nil)}
                      %br
                    = download_link @application.get_attachment(:contract), nil_text: nil, text: @application.get_attachment(:contract)&.data&.filename
                .row
                  .col.s12.m8
                    %h6 หนังสือยืนยันการเข้าร่วมโครงการ
                    .input-field.file-field
                      .btn-small.green
                        %span เลือกไฟล์
                        = file_field_tag 'attachment[signup_data]'
                      .file-path-wrapper
                        = text_field_tag 'attachment[signup_file_name]', nil, class: 'file-path validate'
                  .col.s12.m4{style: 'font-size:0.8rem; padding-top: 20px;'}
                    - if @application.get_attachment(:signup)
                      อัพโหลดแล้วเมื่อ #{l(@application.get_attachment(:signup)&.data&.created_at, format: :short, default: nil)}
                      %br
                    = download_link @application.get_attachment(:signup), nil_text: nil, text: @application.get_attachment(:signup)&.data&.filename


              .divider
              .section
                %h5 ข้อมูลเส้นทาง
                .row
                  .col.s6
                    .input-field
                      = f.input_field :license_no, placeholder: 'กท. 1xx/25yy', class: 'required'
                      = f.label :license_no
                  .col.s6
                    .input-field
                      = f.text_field :license_expire, class: 'datepicker required'
                      = f.label :license_expire
                - if @application.category3?
                  กรุณาระบุพื้นที่ให้บริการ
                  .row
                    .col.s6
                      .input-field
                        = f.input_field :service_area, class: 'required'
                        = f.label :service_area
                - else
                  .row
                    .col.s6
                      .input-field
                        = text_field_tag 'route[route_no]', @application.route&.route_no, class: 'required'
                        = label_tag 'route[route_no]', t(:route_no, scope: 'activerecord.attributes.route')
                  .row
                    .col.s6
                      .input-field
                        = text_field_tag 'route[start]', @application.route&.start, class: 'required'
                        = label_tag 'route[start]', t(:start, scope: 'activerecord.attributes.route')
                    .col.s6
                      .input-field
                        = text_field_tag 'route[destination]', @application.route&.destination, class: 'required'
                        = label_tag 'route[destination]', t(:destination, scope: 'activerecord.attributes.route')
                  .row
                    .col.s6
                      .input-field
                        = f.input_field :car_count, class: 'required', min: 0, digits: true
                        = f.label :car_count, 'จำนวนรถที่มีอยู่จริง (คัน)'
                    .col.s6
                      .input-field
                        = f.input_field :trip_count, class: 'required', min: 0, digits: true
                        = f.label :trip_count, 'จำนวนเที่ยวเดินรถจริงเฉลี่ยต่อวัน (เที่ยว)'

              = hidden_field_tag 'application[stage]', 'step1'
              %button.btn.waves-effect.waves-light.gradient-45deg-purple-deep-purple ไปยังขั้นตอนต่อไป

