.row
  .col.s12
    .card
      .card-content
        .card-title
          %h3 สมัครเข้าร่วมโครงการ Q-BUS
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            %h4 ทำแบบประเมินตนเอง
            - if @application.extend
              .card-panel.light-blue.lighten-4
                ใบสมัครต่ออายุมาจากใบสมัครหมายเลข #{@application.extend_app&.id_text}
            ให้ผู้สมัครประเมินตนเองในหัวข้อต่อไปนี้ โดยให้ประเมินผลในแต่ละข้อให้ครบถ้วน

            %br
            %br
            .card-panel.gradient-45deg-light-green-amber
              %p{style: 'width: 80%'}
                ในการทำแบบประเมินตนเองของผู้สมัคร ผู้สมัครจะต้องทำแบบประเมินในแต่ละข้อให้ครบถ้วนและข้อมูลที่ประเมินต้องถูกต้องและตรงกับความเป็นจริงเท่านั้น เนื่องจากจะมีการตรวจประเมินหน้างานอีกครั้งตามขั้นตอนการตรวจประเมิน หากพบว่าข้อมูลที่ได้รับไม่ตรงกับความเป็นจริงในการตรวจประเมินหน้างาน จะถือว่าผู้สมัครมีความผิดร้ายแรง ผู้สมัครจะไม่ได้รับการพิจารณาจากกรรมการในการรับรองมาตรฐานรถโดยสารสาธารณะ Q-Bus
            %br
            = simple_form_for(@application, url: apply_step3_application_path(@application), method: 'post') do |f|
              %table
                %thead
                  %th{style: "width: 70%;"} หัวข้อ
                  %th{style: "width: 15%;"} ใช่
                  %th{style: "width: 15%;"} ไม่ใช่
                %tbody
                  - @application.self_evaluations.each do |ev|
                    %tr
                      %td= "#{ev.criterium.name}"
                      %td
                        %label
                          = radio_button_tag "result[#{ev.id}]", 'ok', ev.result == 1
                          %span ใช่
                      %td
                        %label
                          = radio_button_tag "result[#{ev.id}]", 'no', ev.result == 0
                          %span ไม่ใช่
              = hidden_field_tag 'application[stage]', 'step3'
              %br
              %button.btn.waves-effect.waves-light ยืนยันใบสมัคร

