.row
  .col.s12
    .card
      .card-content
        .card-title
          %h3 สมัครเข้าร่วมโครงการ Q-BUS
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            %h4 กรอกข้อมูลรถ
            .section
              %h5 ข้อมูลเส้นทาง
              = render "route"
            .divider
            .section
              %h5 รถที่ให้บริการในเส้นทาง
              จำนวน #{@application.cars.count} คัน
              %table.dataTables
                %thead
                  %th= t :plate, scope: 'activerecord.attributes.car'
                  %th= t :chassis, scope: 'activerecord.attributes.car'
                  %th= t :car_type, scope: 'activerecord.attributes.car'
                  %th
                %tbody
                  - @application.cars.each do |car|
                    %tr
                      %td= car.plate
                      %td= car.chassis
                      %td= car.car_type
                      %td= link_to 'ลบ', remove_car_application_path(@application.id, car.id), {rel: :nofollow, method: :delete, confirm: t(:confirm_delete)}

              %br
              %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'add-car'}} เพิ่มรถ
            %br
            = simple_form_for(@application, url: apply_step2_application_path(@application), method: 'post') do |f|
              = hidden_field_tag 'application[stage]', 'step2'
              %button{class: 'btn waves-effect waves-light'} ไปยังขั้นตอนต่อไป

/modal
#add-car.modal
  = form_with url: add_car_application_path(@application), local: true do |f|
    .modal-content
      %h4 เพิ่มข้อมูลรถ

      เพิ่มข้อมูลรถสำหรับเส้นทาง #{@application.route_start}-#{@application.route_destination}
      กรุณาพิมพ์ข้อมูลรถแล้วกดปุ่ม บันทึก
      .input-field
        = f.text_field :plate
        = f.label t :plate, scope: 'activerecord.attributes.car'
      .input-field
        = f.text_field :chassis
        = f.label t :chassis, scope: 'activerecord.attributes.car'
      .input-field
        = f.text_field :car_type
        = f.label t :car_type, scope: 'activerecord.attributes.car'
    .modal-footer
      %button.btn.waves-effect.waves-light.green เพิ่มรถ
      %a.modal-close.waves-effect.wave-flat.btn-flat{href: "#!"} ยกเลิก



