.row
  .col.s12
    .card
      .card-content
        .card-title
          %h3 สมัครเข้าร่วมโครงการ Q-BUS
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            = simple_form_for(@application, url: apply_step1_application_path(@application), method: :post, html: { multipart: true }) do |f|
              %h4 กรอกข้อมูลพื้นฐาน
              .section
                %h5 ข้อมูลผู้ประกอบการ
                .row
                  .input-field.col.s6
                    = text_field_tag 'licensee[name]', @application.try(:licensee).try(:name)
                    = f.label 'licensee[name]', t(:name , scope: 'activerecord.attributes.licensee')
                  - if @application.category3?
                    .row
                      .input-field.col.s6
                        = f.input_field :license_no, placeholder: 'กท. 1xx/25yy'
                        = f.label :license_no
                    /    = f.error :license_no
                    /    /= f.label 'licensee[name]', t(:name , scope: 'activerecord.attributes.licensee')
                .row
                  .col.s12
                    %h6 หมวดการเดินรถ
                    = @application.category_text
                .row
                  .input-field.col.s6
                    = f.input :contact
                  .input-field.col.s6
                    = f.input :contact_tel
              .divider
              .section
                .row
                  .col.s12.m8
                    %h5 เอกสารแนบเพื่อยืนยันการสมัคร 
                    กรุณาแนบเอกสารต่อไปนี้ โดยใช้ไฟล์ในรูปแบบ pdf, jpg หรือ png เท่านั้น และไฟล์ดังกล่าวจะต้องเห็นรายละเอียดได้ชัดเจน
                    %ol
                      %li ใบอนุญาตประกอบการขนส่ง
                      %li หน้าแรกของสัญญาการเดินรถ
                      %li
                        หนังสือยืนยันการเข้าร่วมโครงการ (สามารถดาวน์โหลดได้
                        %a ที่นี่
                        )
                      
                  .col.s12.m4
                .row
                  .col.s12.m6
                    %h6 สัญญาการเดินรถ
                    .input-field.file-field
                      .btn-small.green
                        %span เลือกไฟล์
                        = file_field_tag 'attachment[contract_data]'
                      .file-path-wrapper
                        = text_field_tag 'attachment[contract_file_name]', nil, class: 'file-path validate'
                  .col.s12.m6
                    %h6 หนังสือยืนยันการเข้าร่วมโครงการ
                    .input-field.file-field
                      .btn-small.green
                        %span เลือกไฟล์
                        = file_field_tag 'attachment[signup_data]'
                      .file-path-wrapper
                        = text_field_tag 'attachment[signup_file_name]', nil, class: 'file-path validate'



              .divider
              .section
                %h5 ข้อมูลเส้นทาง
                - if @application.category3?
                  %h6 ไม่ประจำทาง
                - else
                  .row
                    .col.s6
                      .input-field
                        = f.input_field :license_no, placeholder: 'กท. 1xx/25yy'
                        = f.label :license_no
                        /= text_field_tag 'route[start]', @application.try(:route).try(:start)
                        /= label_tag 'route[start]', 'เลขที่ใบอนุญาต'
                    .col.s6
                      .input-field
                        = text_field_tag 'route[route_no]', @application.try(:route).try(:route_no)
                        = label_tag 'route[route_no]', t(:route_no, scope: 'activerecord.attributes.route')
                  .row
                    .col.s6
                      .input-field
                        = text_field_tag 'route[start]', @application.try(:route).try(:start)
                        = label_tag 'route[start]', t(:start, scope: 'activerecord.attributes.route')
                    .col.s6
                      .input-field
                        = text_field_tag 'route[destination]', @application.try(:route).try(:destination)
                        = label_tag 'route[destination]', t(:destination, scope: 'activerecord.attributes.route')
                  .row
                    .col.s6
                      .input-field
                        = f.input_field :car_count
                        = f.label :car_count, 'จำนวนรถที่มีอยู่จริง (คัน)'
                    .col.s6
                      .input-field
                        = f.input_field :trip_count
                        = f.label :trip_count, 'จำนวนเที่ยวเดินรถจริงเฉลี่ยต่อวัน (เที่ยว)'

              = hidden_field_tag 'application[stage]', 'step1'
              = f.button :submit, 'ไปยังขั้นตอนต่อไป', class: "btn waves-light left"



