.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            %h4 เลือกประเภท
            = form_for @application, url: apply_applications_path do |f|
              = hidden_field_tag 'application[stage]', 'apply'
              %p
                %label
                  = f.radio_button :category, 2
                  %span= t(:category1, scope: 'qbus.application')
              %br
              %p
                %label
                  = f.radio_button :category, 3
                  %span= t(:category2, scope: 'qbus.application')
              %br
              %p
                %label
                  = f.radio_button :category, 4
                  %span= t(:category3, scope: 'qbus.application')
              %br
              = f.submit 'ต่อไป', class: 'btn'
