.row
  .col.s12
    .card
      .card-content
        .card-title
          %h3 สมัครเข้าร่วมโครงการ Q-BUS
        .row
          .col.s12.m3
            = render "current_apply_step"
          .col.s12.m9
            %h4 กรอกข้อมูลรถ
            .section
              %h5 ข้อมูลเส้นทาง
              = render "route"
              .divider
            .section
              %h5 รถที่ใช้ในเส้นทาง
              จำนวน #{@application.route.cars.count} คัน
              %table.dataTables
                %thead
                  %th= t :plate, scope: 'activerecord.attributes.car'
                  %th= t :chassis, scope: 'activerecord.attributes.car'
                  %th
                  %th
                %tbody
                  - @application.route.cars.each do |car|
                    %tr
                      %td= car.plate
                      %td= car.chassis
                      %td
                      %td

              %br
              %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'add-car'}} เพิ่มรถ
            %br
            = simple_form_for(@application, url: apply_step2_application_path(@application), method: 'post') do |f|
              = hidden_field_tag 'application[stage]', 'step2'
              = f.button :submit, 'ไปยังขั้นตอนต่อไป', class: "btn waves-light left"
              /= f.button :submit, 'ยืนยันใบสมัคร', class: "btn waves-light left"

/modal
#add-car.modal
  = form_with url: add_car_application_path(@application), local: true do |f|
    .modal-content
      %h4 เพิ่มข้อมูลรถ

      เพิ่มข้อมูลรถสำหรับเส้นทาง #{@application.route.start}-#{@application.route.destination}
      กรุณาพิมพ์ข้อมูลรถแล้วกดปุ่ม บันทึก
      .input-field
        = f.text_field :plate
        = f.label :plate
      .input-field
        = f.text_field :chassis
        = f.label :chassis
    .modal-footer
      = f.submit 'เพิ่มรถ', class: 'waves-effect green waves-green btn-flat'
      %a.modal-close.waves-effect.waves-red.btn-flat{href: "#!"} ยกเลิก



