.row
  .col.s10.offset-s1
    .card
      .card-content.deep-purple
        .card-title
          %h1.white-text= t(:list) + t(:application, scope: 'activerecord.models')
      .card-content
        .dataTables_wrapper
          %table#table.dataTable.display
            %thead
              %th= t(:id, scope: 'activerecord.attributes.application')
              %th= t(:name, scope: 'activerecord.attributes.licensee')
              %th= t(:route_no, scope: 'activerecord.attributes.application')
              %th= t(:route_info, scope: 'activerecord.attributes.application')
              %th
            %tbody
              - @applications.each do |application|
                %tr
                  %td= application.id_text
                  %td= application.licensee&.name
                  %td= application.route_no
                  %td= application.route_info
                  %td.right-align
                    %a{:href => edit_application_path(application)}
                      %i.material-icons edit
                    %a{"href" => application_path(application), "rel" => "nofollow", "data-method" => "delete", "data-confirm" => t(:confirm_delete)}
                      %i.material-icons delete
      .card-action
        %a.btn.gradient-45deg-green-teal.waves-effect.waves-light.btn-small{href: apply_applications_path}= t(:new)

:javascript
  $(document).ready( function() {
    $('#table').DataTable(
      $.extend(
        {
          'columnDefs': [
            {'orderable': false, 'targets':[3]}
          ]
        },
        dataTableDefaultOption()
      )
    );
  });
