.row
  .col.s12
    .card.grey.darken-3
      .card-content
        %h5.white-text ข้อมูลใบสมัคร
      .card-tabs
        %ul.tabs.tabs-fixed-width.tabs-transparent.grey-text
          %li.tab
            %a.active{href: '#tab_app'}ข้อมูลใบสมัคร
          %li.tab
            %a{href: '#tab_evidence'}หลักฐาน
          %li.tab
            %a{href: '#tab_car'}ข้อมูลรถ
          %li.tab
            %a{href: '#tab_eval'}การประเมิน
          %li.tab
            %a{href: '#tab_visit'}การตรวจหน้างาน
          %li.tab
            %a{href: '#tab_award'}การตัดสินผล
      #tab_eval
        .card-content.grey.lighten-5
          = render 'process/evaluation'
        .card-action.grey.lighten-3
          -#= link_to 'แก้ไขข้อมูลการประเมิน', process_evaluation_path(@application), class: 'btn btn-green'
      #tab_evidence
        .card-content.grey.lighten-5
          %h4 รายการหลักฐาน
          = render "process/evidence"
        .card-action.grey.lighten-3
          -#= link_to 'แก้ไขข้อมูลหลักฐาน', add_evidences_application_path(@application), class: 'btn btn-green'
      #tab_visit
        .card-content.grey.lighten-5
          %h4 ข้อมูลการตรวจประะเมินหน้างาน
          = render "process/visit"
        .card-action.grey.lighten-3
          -#= link_to 'แก้ไขข้อมูลการตรวจหน้างาน', appointment_visit_path(@application), class: 'btn btn-green'
      #tab_app
        .card-content.grey.lighten-5
          = render partial: "applications/application"
        .card-action.grey.lighten-3
          -#= link_to 'แก้ไขข้อมูลใบสมัคร', edit_application_path(@application), class: 'btn btn-green'
      #tab_car
        .card-content.grey.lighten-5
          = render partial: "applications/cars"
        .card-action.grey.lighten-3
          -#= link_to 'แก้ไขข้อมูลรถ', edit_application_path(@application), class: 'btn btn-green'
      #tab_award
        .card-content.grey.lighten-5
          = render partial: "applications/cars"
        .card-action.grey.lighten-3
          -#= link_to 'แก้ไขการตัดสินผล', process_award_path(@application), class: 'btn btn-green'
