%p#notice= notice


%p
  %b=t(:number)
  = @application.number
%p
  %b=t(:user)
  = @application.user
%p
  %b=t(:state)
  = @application.state
%p
  %b=t(:licensee)
  = @application.licensee
%p
  %b=t(:route)
  = @application.route
%p
  %b=t(:category)
  = @application.category
%p
  %b=t(:appointment_date)
  = @application.appointment_date
%p
  %b=t(:appointment_remark)
  = @application.appointment_remark
%p
  %b=t(:appointment_user)
  = @application.appointment_user
%p
  %b=t(:awarded_date)
  = @application.awarded_date
%p
  %b=t(:award)
  = @application.award
%p
  %b=t(:contact)
  = @application.contact
%p
  %b=t(:contact_tel)
  = @application.contact_tel
%p
  %b=t(:confirmed_date)
  = @application.confirmed_date
%p
  %b=t(:submitted_date)
  = @application.submitted_date
%p
  %b=t(:approved_date)
  = @application.approved_date
%p
  %b=t(:evaluated_date)
  = @application.evaluated_date
%p
  %b=t(:car_count)
  = @application.car_count
%p
  %b=t(:trip_count)
  = @application.trip_count


= link_to 'Edit', edit_application_path(@application)
\|
= link_to 'Back', applications_path
