%p#notice= notice

%p
  %b=t(:name)
  = @datafile.name
%p
  %b=t(:month_year)
  = @datafile.month_year
%p
  %b=t(:user)
  = @datafile.user

= link_to 'Edit', edit_datafile_path(@datafile)
\|
= link_to 'Back', datafiles_path
