- url = @as_profile ? profile_edit_user_path(@user) : ( @user.id ? user_path(@user) : users_path() )
= simple_form_for(@user, url: url) do |f|
  = f.error_notification
  .row
    .col.s12
      .row
        .input-field.col.s12
          %i.material-icons.prefix face
          = f.input_field :name
          = f.label :name
          = f.full_error :name
      .row
        .input-field.col.s12
          %i.material-icons.prefix phone
          = f.input_field :tel
          = f.label :tel
          = f.full_error :tel
      .row
        .input-field.col.s12
          %i.material-icons.prefix email
          = f.input_field :email
          = f.label :email
          = f.full_error :email
      .row
        .input-field.col.s12
          %i.material-icons.prefix lock
          = f.input_field :password
          = f.label :password
          = f.full_error :password
      .row
        .input-field.col.s12
          %i.material-icons.prefix lock
          = f.input_field :password_confirmation
          = f.label :password_confirmation
          = f.full_error :password_confirmation
      - if @current_user&.is_admin? and not @as_profile
        .row
          .input-field.col.s12
            %p
              = f.label :activated do
                = f.input_field :activated, as: :boolean
                %span= "#{t :activated, scope: 'activerecord.attributes.user'}"
                - if @user.activated_at
                  %span=" - #{@user.activated_at}"
        .row
          .input-field.col.s12
            %i.material-icons.prefix business_center
            = f.label :roles
            = f.full_error :roles
        .row
          .input-field.col.s11.offset-s1
            %br
            %h6 สิทธิ์สำหรับผู้ใช้งานทั่วไป
            %p
              = f.label :licensee  do
                = f.input_field :licensee, as: :boolean
                %span= t(:licensee, scope: 'activerecord.attributes.user')
            %br
            %h6 สิทธิ์สำหรับเจ้าหน้าที่กรมการขนส่งทางบก
            %p
              = f.label :verifier  do
                = f.input_field :verifier, as: :boolean
                %span= t(:verifier, scope: 'activerecord.attributes.user')
            %p
              = f.label :surveyor  do
                = f.input_field :surveyor, as: :boolean
                %span= t(:surveyor, scope: 'activerecord.attributes.user')
            %p
              = f.label :evaluator  do
                = f.input_field :evaluator, as: :boolean
                %span= t(:evaluator, scope: 'activerecord.attributes.user')
            %p
              = f.label :committee  do
                = f.input_field :committee, as: :boolean
                %span= t(:committee, scope: 'activerecord.attributes.user')
            %br
            %p
              = f.input :province, as: :select, collection: User.province_options_for_select
            %br
            %p
              = f.label :all_provinces  do
                = f.input_field :all_provinces, as: :boolean
                %span= t(:all_provinces, scope: 'activerecord.attributes.user')
          .input-field.col.s11.offset-s1
            %h6 สิทธิ์พิเศษสำหรับผู้ดูแลระบบเท่านั้น
            %p
              = f.label :admin  do
                = f.input_field :admin, as: :boolean
                %span= t(:admin, scope: 'activerecord.attributes.user')
      /.row
      /  .input-field.col.s12
      /    %i.material-icons.prefix face
      /    = f.radio_button :body, "m"
      /    = f.label :gender_m, "Male"
      /    = f.radio_button :body, "f"
      /    = f.label :gender_f, "Female"
      /.row
      /  .input-field.col.s12
      /    %i.material-icons.prefix published
      /    = f.check_box :body, class:"checkbox"
      /    = f.label :published
      /.row
      /  .input-field.col.s12
      /    %i.material-icons.prefix cake
      /    = f.text_field :body, class:"datepicker"
      /    = f.label :birthday
  = f.button :submit, class: "btn waves-light left"
  - if @as_profile
    = hidden_field_tag :from_profile, true

- if back_link
  = link_to t(:cancel), back_link, style: "margin-left: 2em", class: "btn-flat white dlp-purple-text strong waves-black waves-effect"

:javascript
  //$('.datepicker').pickadate({
  // selectMonths: true, // Creates a dropdown to control month
  // selectYears: 15 // Creates a dropdown of 15 years to control year
  //);

