.row
  .col.s10.offset-s1
    .card
      .card-content.deep-purple
        .card-title.white-text
          %h4.white-text= t(:list) + t(:user, scope: 'activerecord.models')
      .card-content
        .dataTables_wrapper
          %table#table.dataTable.display
            %thead
              %th= t(:name, scope: 'activerecord.attributes.user')
              %th= t(:email, scope: 'activerecord.attributes.user')
              %th= t(:roles, scope: 'activerecord.attributes.user')
              %th
            %tbody
              - @users.each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td= user.role_summary
                  %td.right-align
                    %a{:href => edit_user_path(user)}
                      %i.material-icons edit
                    %a{"href" => user_path(user), "rel" => "nofollow", "data-method" => "delete", "data-confirm" => t(:confirm_delete)}
                      %i.material-icons delete
      .card-action
        %a.btn.gradient-45deg-green-teal.waves-effect.waves-light.btn-small{href: new_user_path}= t(:new)

:javascript
  $(document).ready( function() {
    $('#table').DataTable(
      $.extend(
        {
          'columnDefs': [
            {'orderable': false, 'targets':[3]}
          ]
        },
        dataTableDefaultOption()
      )
    );
  });
