.row
  .col.s10.offset-s1
    .card
      .card-content.deep-purple
        .card-title
          %h4.white-text= t(:list) + t(:user, scope: 'activerecord.models')
      .card-content
        .dataTables_wrapper
          %table#table.dataTable.display
            %thead
              %tr
                %th= t(:name, scope: 'activerecord.attributes.user')
                %th= t(:email, scope: 'activerecord.attributes.user')
                %th= t(:roles, scope: 'activerecord.attributes.user')
                %th
            %tbody
              - @users.each do |user|
                %tr
                  %td= user.name
                  %td= user.email
                  %td= user.role_summary
                  %td.right-align
                    %a{:href => user_path(user)}
                      %i.material-icons pageview
                    %a{:href => edit_user_path(user)}
                      %i.material-icons edit
                    %a{"href" => user_path(user), "rel" => "nofollow", "data-method" => "delete", "data-confirm" => t(:confirm_delete)}
                      %i.material-icons delete
      .card-action
        = link_to t(:new), new_user_path, class: 'btn green waves-effect waves-light'

:coffee
  $(document).ready ->
    $('#table').DataTable(
      $.extend(
        {
          'responsive': true,
          'lengthChange': false,
          'columnDefs': [
            {'orderable': false, 'targets': -1},
            {'responsivePriority': 1, 'targets': 0},
            {'responsivePriority': 2, 'targets': -1}
          ]
        },
        dataTableDefaultOption()
      )
    )
