.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          =t(:user, scope: 'activerecord.models')
          =@current_user.id
      .card-content
        .section
          %h6= t(:name, scope: 'activerecord.attributes.user')
          = @current_user.name
        .section
          %h6= t(:email, scope: 'activerecord.attributes.user')
          = @current_user.email
        .section
          %h6= t(:activated, scope: 'activerecord.attributes.user')
          = @current_user.activated
        .section
          %h6= t(:activated_at, scope: 'activerecord.attributes.user')
          = l(@current_user.activated_at, format: '%d %B %Y')
        .section
          %h6 สิทธิ์ในการใช้งาน
          %p
            %ul
              - @current_user.role_array.each do |r|
                %li= r
      .card-action
        = link_to t(:edit), profile_edit_user_path(@current_user,'profile')
