%p#notice= notice


%p
  %b=t(:filename)
  = @attachment.filename
%p
  %b=t(:attachment_type)
  = @attachment.attachment_type


= link_to 'Edit', edit_attachment_path(@attachment)
\|
= link_to 'Back', attachments_path
