.row
  .col.s12
    .card
      .card-content
        .card-title
          %h5 รายชื่อผู้ได้รับตราสัญลักษณ์  Q-BUS
        รายการต่อไปนี้แสดงถึงผู้ประกอบการและสายที่ได้รับรางวัล Q-BUS
        %br
        ผู้ใช้สามารถพิมพ์ชื่อผู้ประกอบการขนส่ง, เลขสาย, ต้นทาง หรือ ปลายทางเพื่อค้นหาผู้ได้รับรางวัลได้
      .card-content
        .dataTables_wrapper
          %table#table.dataTable.display
            %thead
              %th= t(:name, scope: 'activerecord.attributes.licensee')
              %th= t(:route_no, scope: 'activerecord.attributes.route')
              %th เส้นทาง
              %th= t(:awarded_date, scope: 'activerecord.attributes.application')
              %th คะแนนที่ได้
            %tbody
              - @apps.each do |app|
                %tr
                  %td= app.licensee&.name
                  %td= app.route_no
                  %td= app.route_info
                  %td= l(app.awarded_date, format: '%d %B %Y')
                  %td= app.total_score

:javascript
  $(document).ready( function() {
    $('#table').DataTable(
        dataTableDefaultOption()
    );
  });
