- last_cg = nil
- @application.evaluations.joins(:criterium => :criteria_group).order('criteria_groups.id, criteria.id').each do |ev|
  - if ev.criterium.criteria_group != last_cg
    - last_cg = ev.criterium.criteria_group
    .divider
    .row
      .col.s12
        %h5= last_cg.name
    .row
      .col.s7
        = t(:name, scope: 'activerecord.attributes.criterium')
      .col.s2.center
        ผลการประเมิน
      .col.s3
        คำอธิบายผลการประเมิน
  .row
    .col.s7
      = "#{ev.criterium.number}. #{ev.criterium.name}"
      %br
      - if ev.is_main_evaluation?
        .row
          .col.s2
          .col.s7.strong หลักฐานที่แนบมาด้วย
          .col.s3
        - ev.criterium.evidences.each do |evid|
          .row
            .col.s2
            .col.s7
              = evid.name
            .col.s3
              - att = @application.attachments.where(evidence: evid)
              - if att.count > 0
                = link_to rails_blob_path(att.first.data, disposition: "attachment") do
                  %i.material-icons.small insert_drive_file
                  = t(:download)
              - else
                %span.red-text - ไม่ได้แนบ -
        %br
    .col.s2.center
      - if ev.result == 1
        %i.material-icons.left check
        100%
      - elsif ev.result == 0
        %i.material-icons.left block
        0%
      - else
        %i.material-icons.left remove
        50%
    .col.s3
      .input-field
        /= f.text_field :description
        = ev.description
