- cgroups = CriteriaGroup.need_evidence unless cgroups
- enable_delete = false unless enable_delete
%table
  %thead
    %tr
      %th ข้อ
      %th ชื่อหลักฐาน
      %th วัน/เวลา ยื่นเอการ
      %th
      - if enable_delete
        %th
  %tbody
    - cgroups.each do |cg|
      - cg.criterium.each do |ci|
        - ci.evidences.each do |ev|
          %tr
            %td{style: 'vertical-align: top'}= ci.number_text
            %td{style: 'vertical-align: top'}= ev.name
            - att = @application.attachments.where(evidence: ev)
            %td{style: 'vertical-align: top'}
              - if att.count > 0
                = l(ev.created_at,format: :short_date)
              - else
                %span.red-text - ยังไม่ได้แนบ -
            %td{style: 'vertical-align: top'}
              - if att.count > 0
                = link_to rails_blob_path(att.first.data, disposition: "attachment") do
                  %i.material-icons.small insert_drive_file
                  = att.first.data.filename
            - if enable_delete
              %td
                - if att.count > 0
                  = link_to 'ลบ', remove_attachment_path(att.first), data: {confirm: "ต้องการลบหลักฐาน \"#{att.first.data.filename}\" หรือไม่?"}


