.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12.m9
            %h4 ใบสมัครที่ยังไม่ได้นัดหมาย
            %table
              %thead
                %tr
                  %th= t(:name, scope: 'activerecord.attributes.licensee')
                  %th= t(:start, scope: 'activerecord.attributes.route')
                  %th= t(:destination, scope: 'activerecord.attributes.route')
                  %th วันที่ยื่นใบสมัคร
                  %th ผู้ประสานงาน
                  %th โทรศัพท์
                  %th
              %tbody
                - @to_be_appointed.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route_start
                    %td= app.route_destination
                    %td= l(app.created_at, format: :short_date, default: nil)
                    %td= app.contact
                    %td= app.contact_tel
                    %td
                      %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'appoint',application: app.id, date: app.appointment_date, remark: app.appointment_remark}} นัดหมาย
          .col.s12.m3
            %h4 การนัดหมาย
            .section
              %p หลังจากเจ้าหน้าที่ติดต่อไปยังผู้ประกอบการเพื่อนัดหมายวันที่จะเข้าทำการตรวจประเมินแล้ว ให้กรอกข้อมูลการนัดหมายทางด้านซ้ายโดยกดปุ่ม "นัดหมาย"
            .section
              %p เมื่อนัดหมายเสร็จแล้ว ให้กดปุ่ม "ส่งต่อ" เพื่อทำการส่งใบสมัครไปให้ฝ่ายประเมิน
    .card
      .card-content
        .row
          .col.s12
            %h4 ใบสมัครที่รอการตรวจหน้างาน
            %table
              %thead
                %tr
                  %th= t(:name, scope: 'activerecord.attributes.licensee')
                  %th= t(:start, scope: 'activerecord.attributes.route')
                  %th= t(:destination, scope: 'activerecord.attributes.route')
                  %th วันที่ยื่นใบสมัคร
                  %th ผู้ประสานงาน
                  %th โทรศัพท์
                  %th= t(:appointment_date, scope: 'activerecord.attributes.application')
                  %th= t(:appointment_remark, scope: 'activerecord.attributes.application')
                  %th
              %tbody
                - @to_be_visited.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route_start
                    %td= app.route_destination
                    %td= l(app.created_at, format: :short_date, default: nil)
                    %td= app.contact
                    %td= app.contact_tel
                    %td= l(app.appointment_date, format: :short_date, default: nil)
                    %td= app.appointment_remark
                    %td
                      %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'appoint',application: app.id, date: app.appointment_date, remark: app.appointment_remark}} แก้ไขนัดหมาย
                    %td
                      %a.btn.waves-effect.waves-light.gradient-45deg-deep-orange-orange.modal-trigger{href: appointment_visit_path(app)} บันทึกผลตรวจหน้างาน

    .card
      .card-content
        .row
          .col.s12
            %h4 ใบสมัครที่ได้รับการตรวจหน้างานแล้ว (ภายใน 30 วันที่ผ่านมา)
            %table
              %thead
                %tr
                  %th= t(:name, scope: 'activerecord.attributes.licensee')
                  %th= t(:start, scope: 'activerecord.attributes.route')
                  %th= t(:destination, scope: 'activerecord.attributes.route')
                  %th วันที่ยื่นใบสมัคร
                  %th ผู้ประสานงาน
                  %th โทรศัพท์
                  %th= t(:visited_date, scope: 'activerecord.attributes.application')
                  %th= t(:visited_confirm_date, scope: 'activerecord.attributes.application')
                  %th
              %tbody
                - @latest_visited.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route_start
                    %td= app.route_destination
                    %td= l(app.created_at, format: :short_date, default: nil)
                    %td= app.contact
                    %td= app.contact_tel
                    %td= l(app.visited_date, format: :short_date, default: nil)
                    %td= l(app.visited_confirm_date, format: :short_date, default: nil)
                    %td
                      %a.btn.waves-effect.waves-light.modal-trigger{href: appointment_visit_path(app)} แก้ไขผลตรวจหน้างาน

/modal
#appoint.modal{style: 'width: 60% !important;'}
  = form_with url: appoint_process_appointment_path, local: true do |f|
    .modal-content
      %h4 ระบุข้อมูลนัดหมาย

      กรุณาพิมพ์ข้อมูลการนัดหมาย
      .row
        .input-field.col.s6
          %i.material-icons.prefix today
          = f.text_field :appointment_date, class: 'datepicker'
          = f.label :appointment_date, t(:appointment_date, scope: 'activerecord.attributes.application')
      .row
        .input-field.col.s6
          %i.material-icons.prefix face
          = f.text_area :appointment_remark, class: 'materialize-textarea', rows: 4, style: 'height: 200px;'
          = f.label :appointment_remark, t(:appointment_remark, scope: 'activerecord.attributes.application')
      = hidden_field_tag :id, 1, id: 'application_id'
      %br
      %br
      %br
      %br
    .modal-footer
      %button.btn.waves-effect.waves-light.green ทำการนัดหมาย
      %a.modal-close.waves-effect.waves-green.btn-flat{href: "#!"} ยกเลิก

:coffee
  @setform = (date,remark,id) ->
    $(".modal #appointment_date").val(date)
    $(".modal #appointment_remark").val(remark)
    $(".modal #application_id").val(id)
    M.updateTextFields()

  $ ->
    $("button[data-application]").click (e) ->
      e.preventDefault()
      date = $(this).data("date")
      remark = $(this).data("remark")
      id = $(this).data("application")
      setform(date,remark,id)
