.row
  .col.s12
    .row
      .col.s12
        .card.gradient-45deg-light-green-amber
          .card-content
            .card-title
              %h6 วิธีใช้งาน
            %p{style: 'width: 60%'}
              ให้กรอกผลการประเมินหน้างานตามแบบฟอร์ม "แบบสำรวจข้อมูลผู้ประกอบการขนส่ง" โดยระหว่างการกรอกสามารถกดปุ่ม "บันทึก" เพื่อบันทึกผลการกรอกข้อมูลไว้กอนได้ หลังจากบันทึกข้อมูลทั้งหมดแล้ว ให้ยืนยันผลการประเมิน โดยกดปุ่ม "ยืนยัน"
    .row
      .col.s12
        .card.brown.lighten-2
          .card-content
            %h4 การบันทึกผลการตรวจหน้างาน
          .card-tabs
            %ul.tabs.tabs-fixed-width.tabs-transparent
              %li.tab
                %a{href: '#tab_visit'}ผลการตรวจหน้างาน
              %li.tab
                %a{href: '#tab_app'}ข้อมูลใบสมัคร
              %li.tab
                %a{href: '#tab_evidence'}หลักฐาน
              %li.tab
                %a{href: '#tab_car'}ข้อมูลรถ
          #tab_visit
            = simple_form_for @application, url: appointment_visit_path(@application), local: true, html: {class: 'form_validate'}, method: :post do |f|
              / section a
              .card-content.brown.lighten-5
                .card-title
                  %h5 ข้อมูลการตรวจประเมินหน้างาน
                .row
                  /.col.s6
                  /  วันที่ตรวจหน้างาน
                  .col.s6
                    .input-field
                      = text_field_tag :tmp_visited_date, @application.visited_date&.to_date, class: 'material-datepicker'
                      = f.hidden_field :visited_date
                      = f.label :visited_date, t(:visited_date, scope: 'activerecord.attributes.application')
                .row
                  /.col.s6
                  /  ชื่อ-นามสกุล ผู้ตรวจประเมิน
                  .col.s6
                    .input-field
                      = f.input_field :visitor
                      = f.label :visitor, t(:visitor, scope: 'activerecord.attributes.application')
                .row
                  /.col.s6
                  /  ตำแหน่ง ผู้ตรวจประเมิน
                  .col.s6
                    .input-field
                      = f.input_field :visitor_position
                      = f.label :visitor_position, t(:visitor_position, scope: 'activerecord.attributes.application')
                .row
                  /.col.s6
                  /  เบอร์โทรศัทพ์ ผู้ตรวจประเมิน
                  .col.s6
                    .input-field
                      = f.input_field :visitor_tel
                      = f.label :visitor_tel, t(:visitor_tel, scope: 'activerecord.attributes.application')
                .row
                  /.col.s6
                  /  อีเมล์ ผู้ตรวจประเมิน
                  .col.s6
                    .input-field
                      = f.input_field :visitor_email, as: :email
                      = f.label :visitor_email, t(:visitor_email, scope: 'activerecord.attributes.application')

              / accidence section
              .card-content.brown.lighten-5
                .card-title
                  %h5 เงื่อนไขด้านความปลอดภัย
                .row
                  .col.s7.strong
                    เงื่อนไขการตรวจสอบ
                  .col.s5.strong
                    ผลการตรวจหน้างาน
                - @application.evaluation_visit_accidence.each do |ev|
                  .row
                    .col.s7
                      = "#{ev.criterium.number}. #{ev.criterium.name}"
                    .col.s5
                      %label
                        = radio_button_tag "result[#{ev.id}]", 1, ev.result == 1
                        %span ใช่
                      %label
                        = radio_button_tag "result[#{ev.id}]", 0, ev.result == 0
                        %span ไม่ใช่
              / section 2
              .card-content.brown.lighten-5
                .card-title
                  %h5 ส่วนที่ 2: เงื่อนไขการเดินรถ
                  - if @application.category3?
                    สำหรับหมวดการเดินรถไม่ประจำทาง ไม่จำเป็นต้องตรวจสอบเงื่อนไขในกลุ่มนี้
                - unless @application.category3?
                  .row
                    .col.s7.strong
                      เงื่อนไขการตรวจสอบ
                    .col.s5.strong
                      ผลการตรวจหน้างาน
                  - @application.evaluation_visit_sec2.each do |ev|
                    .row
                      .col.s7
                        = "#{ev.criterium.number}. #{ev.criterium.name}"
                      .col.s5
                        %label
                          = radio_button_tag "result[#{ev.id}]", 1, ev.result == 1
                          %span ใช่
                        %label
                          = radio_button_tag "result[#{ev.id}]", 0, ev.result == 0
                          %span ไม่ใช่
                  %br
                  .row
                    .col.s12.m4
                      %p ในกรณีที่มีข้อใดข้อหนึ่งตอบว่าไม่ใช่ ขอให้ระบุสภาพของปัญหาและสาเหตุของปัญหา
                    .col.s12.m4
                      .input-field
                        = f.text_area :visit_problem, value: @application.visit_problem, class: 'materialize-textarea'
                        = f.label :visit_problem, t(:visit_problem, scope: 'activerecord.attributes.application')
                      %p ตัวอย่างสภาพปัญหา เช่น จำนวนรถสูง/ต่ำกว่าเงื่อนไขการเดินรถ, จำนวนเที่ยวรถสูง/ต่ำกว่าเงื่อนไขการเดินรถ, เดินรถไม่ถึงปลายทาง, ไม่เดินรถตามเส้นทางที่กำหนด, ไม่เก็บค่าโดยสารตามอัตราที่กำหนด
                    .col.s12.m4
                      .input-field
                        = f.text_area :visit_problem_cause, value: @application.visit_problem_cause, class: 'materialize-textarea'
                        = f.label :visit_problem_cause, t(:visit_problem_cause, scope: 'activerecord.attributes.application')
                      %p ตัวอย่างสาเหตุของปัญหา เช่น ประชาชนต้องการ/ไม่ต้องการใช้บริการ เนื่องจาก ..., ผู้ประกอบการขนส่งไม่มีความตั้งใจในการให้บริการ, ไม่สามารถควบคุมรถร่วมบริการได้, ปัญหาสภาพทางอยู่ในระหว่างการก่อสร้าง/ชำรุด
              .card-content.brown.lighten-5
                .card-title
                  %h5 ส่วนที่ 3 ข้อมูลการจดทะเบียนและชำระภาษีรถ (ตรวจสอบจาก ขส.บ.11)
                .row
                  .col.s7.strong
                    เงื่อนไขการตรวจสอบ
                  .col.s5.strong
                    ผลการตรวจหน้างาน
                - @application.evaluation_visit_sec3.each do |ev|
                  .row
                    .col.s7
                      = "#{ev.criterium.number}. #{ev.criterium.name}"
                    .col.s5
                      %label
                        = radio_button_tag "result[#{ev.id}]", 1, ev.result == 1
                        %span ใช่
                      %label
                        = radio_button_tag "result[#{ev.id}]", 0, ev.result == 0
                        %span ไม่ใช่
                %br
                .row
                  .col.s12.m4
                    %p ในกรณีที่ไม่ได้ชำระภาษีทุกคันขอให้ระบุข้อมูลต่อไปนี้
                  .col.s12.m4
                    .input-field
                      = f.text_field :visit_tax_accrued, value: @application.visit_tax_accrued, digits: true, min: 0
                      = f.label :visit_tax_accrued, 'จำนวนรถที่ค้างชำระภาษี (คัน)'
                  .col.s12.m4
                    .input-field
                      = f.text_field :visit_tax_89, value: @application.visit_tax_89, digits: true, min: 0
                      = f.label :visit_tax_89, 'แจ้งหยุดใช้รถตามมาตรา 89 (คัน)'
              .card-content.brown.lighten-5
                .card-title
                  %h5 ส่วนที่ 4 ข้อมูลเกี่ยวกับรถโดยสาร
                .row
                  .col.s7.strong
                    เงื่อนไขการตรวจสอบ
                  .col.s5.strong
                    ผลการตรวจหน้างาน
                - @application.evaluation_visit_sec4.each do |ev|
                  .row
                    .col.s7
                      = "#{ev.criterium.number}. #{ev.criterium.name}"
                    .col.s5
                      %label
                        = radio_button_tag "result[#{ev.id}]", 1, ev.result == 1
                        %span ใช่
                      %label
                        = radio_button_tag "result[#{ev.id}]", 0, ev.result == 0
                        %span ไม่ใช่
              .card-content.brown.lighten-5
                .card-title
                  %h6 พิจารณาแยกตามมาตรฐานรถ
                .row
                  .col.s12
                    %table
                      %thead
                        %tr
                          %th มาตรฐานรถ
                          %th สภาพตัวถัง
                          %th สภาพยาง
                          %th ระบบไฟหน้า ไฟเลี้ยว ไฟเบรก
                          %th กระจกหน้ารถ ที่ปัดน้ำฝน
                      %tbody
                        - (1..4).each do |m|
                          %tr
                            %td ม. #{m}
                            - ['chassis','tire','light','windshield'].each do |t|
                              %td
                                %label
                                  = f.radio_button "visit_car#{m}_#{t}", 1
                                  %span ดี
                                %label
                                  = f.radio_button "visit_car#{m}_#{t}", 0
                                  %span ควรปรับปรุง
              .card-content.brown.lighten-5
                .card-title
                  %h5 ส่วนที่ 5 การเตรียมความพร้อมเพื่อให้บริการ
                .row
                  .col.s7.strong
                    เงื่อนไขการตรวจสอบ
                  .col.s5.strong
                    ผลการตรวจหน้างาน
                .row
                  .col.s12
                - @application.evaluation_visit_sec5.each do |ev|
                  .row
                    .col.s7
                      = "#{ev.criterium.number}. #{ev.criterium.name}"
                    .col.s5
                      %label
                        = radio_button_tag "result[#{ev.id}]", 1, ev.result == 1
                        %span ใช่
                      %label
                        = radio_button_tag "result[#{ev.id}]", 0, ev.result == 0
                        %span ไม่ใช่
              .card-content.brown.lighten-5
                .card-title
                  %h5 ส่วนที่ 6 ความเห็นของเจ้าหน้าที่ตรวจประเมิน
                .row
                  .col.s7
                    คุณภาพการให้บริการโดยรวมของการประกอบการขนส่งในเส้นทางที่สำรวจ
                  .col.s5
                    %label
                      = f.radio_button :visit_result, "ดี"
                      %span ดี
                    %br
                    %label
                      = f.radio_button :visit_result, "ปานกลาง"
                      %span ปานกลาง
                    %br
                    %label
                      = f.radio_button :visit_result, "ควรปรับปรุง"
                      %span ควรปรับปรุง
                .row
                  .col.s12.m6
                    .input-field
                      = f.text_area :visit_comment, value: @application.visit_comment, class: 'materialize-textarea'
                      = f.label :visit_comment, 'โปรดระบุความเห็นและข้อเสนอแนะอื่น ๆ'
              .card-action.brown.lighten-5
                %button.btn.waves-effect.waves-light.gradient-45deg-deep-orange-orange{value:  :submit, type: :submit} บันทึก
                %button.btn.waves-effect.waves-light.gradient-45deg-purple-deep-purple{value:  :confirm, name: :confirm, type: :submit, data: {confirm: 'เมื่อยืนยันแล้วจะไม่สามารถแก้ไขการประเมินได้อีก ยืนยันหรือไม่'}} ยืนยันผลการตรวจหน้างาน
          #tab_evidence
            .card-content.brown.lighten-5
              %h4 รายการหลักฐาน
              = render "evidence"
          #tab_app
            .card-content.brown.lighten-5
              = render partial: "applications/application"
          #tab_route
            .card-content.brown.lighten-5
          #tab_car
            .card-content.brown.lighten-5
              = render partial: "applications/cars"

:javascript
  mdp = new MaterialDatepicker('.material-datepicker', {
    lang: 'th',
    topHeaderFormat: 'tYYYY',
    sitePickerFormat: 'MMMM tYYYY',
    orientation: 'portrait',
    outputFormat: 'DD MMM tYYYY',
    onChange: function() {
      $('#application_visited_date').val(moment(mdp.date).format('YYYY-MM-DD'))
    }
  } )
  mdp.newDate( new Date('#{@application.visited_date&.to_date}') )
