.row
  .col.s12.m4.push-m8
    .card.gradient-45deg-light-green-amber
      .card-content
        .card-title
          %h6 วิธีใช้งาน
        ให้พิจารณาผลการประเมินของใบสมัคร จากรายละเอียด้านล่างนี้ โดยเฉพาะในหัวข้อผลการประเมิน หลังจากนั้นให้บันทึกผลการตัดสินโดยกรอกข้อมูลในฟอร์ม "การบันทึกผล" แล้วกดปุ่ม "ยืนยัน" เพื่อบันทึกข้อมูล
  .col.s12.m8.pull-m4
    = form_with url: process_award_path(@application), local: true do |f|
      .card
        .card-content
          .card-title
            %h4 การบันทึกผลการตัดสิน
          .row
            .col.s6
              %h5 บันทึกผลการตัดสิน
              .row
                .col.s12
                  %label
                    = radio_button_tag :result, 'ok'
                    %span ตัดสินให้ตราสัญลักษณ์  Q-BUS
              .section
              .row
                .col.s12
                  %label
                    = radio_button_tag :result, 'no'
                    %span ตัดสินไม่ให้รางวัล Q-BUS
              .row
                .input-field.col.s12
                  = f.text_area :award_remark, class: 'materialize-textarea'
                  = f.label :award_remark, 'คำอธิบายผลการตัดสิน'
            .col.s6
              .card-title
                %h5 สรุปผลการประเมิน
              .row
                .col.s10
                  คะแนนรวม
                .col.s2.right-align
                  = @application.total_score_text
              .row
                .col.s10
                  คะแนนความปลอดภัย
                .col.s2.right-align
                  = @application.safety_score_text
        .card-action
          %button.btn.waves-effect.waves-light{data: {confirm: 'ต้องการยืนยันการตัดสินผลหรือไม่ เมื่อยืนยันแล้วจะไม่สามารถแก้ไขได้อีก' }} ยืนยันการตัดสินผล
          /= link_to 'ย้อนกลับ', process_awards_path, class: 'waves-effect waves-light orange btn'
.row
  .col.s12
    .card.indigo.lighten-3
      .card-content
        %h5 ข้อมูลใบสมัคร
      .card-tabs
        %ul.tabs.tabs-fixed-width.tabs-transparent.grey-text
          %li.tab
            %a{href: '#tab_app'}ข้อมูลใบสมัคร
          %li.tab
            %a{href: '#tab_eval'}การประเมิน
          %li.tab
            %a{href: '#tab_evidence'}หลักฐาน
          %li.tab
            %a{href: '#tab_car'}ข้อมูลรถ
      #tab_eval
        .card-content.indigo.lighten-4
          .card-title
            %h5 สรุปผลการประเมิน
          .row
            .col.s4
              คะแนนรวม
            .col.s1.right-align
              = @application.total_score_text
          .row
            .col.s4
              คะแนนความปลอดภัย
            .col.s1.right-align
              = @application.safety_score_text
        .card-content.indigo.lighten-5
          - last_cg = nil
          - @application.evaluations.joins(:criterium => :criteria_group).order('criteria_groups.id, criteria.number').each do |ev|
            - if ev.criterium.criteria_group != last_cg
              - last_cg = ev.criterium.criteria_group
              .divider
              .row
                .col.s12
                  %h5= last_cg.name
              .row
                .col.s7
                  = t(:name, scope: 'activerecord.attributes.criterium')
                .col.s2.center
                  ผลการประเมิน
                .col.s3
                  คำอธิบายผลการประเมิน
            .row
              = simple_form_for ev, remote: true do |f|
                .col.s7
                  = "#{ev.criterium.number}. #{ev.criterium.name}"
                  %br
                  .row
                    .col.s2
                    .col.s7.strong หลักฐานที่แนบมาด้วย
                    .col.s3
                  - ev.criterium.evidences.each do |evid|
                    .row
                      .col.s2
                      .col.s7
                        = evid.name
                      .col.s3
                        - att = @application.attachments.where(evidence: evid)
                        - if att.count > 0
                          = link_to rails_blob_path(att.first.data, disposition: "attachment") do
                            %i.material-icons.small insert_drive_file
                            = t(:download)
                        - else
                          %span.red-text - ไม่ได้แนบ -
                  %br
                .col.s2.center
                  - if ev.result?
                    %i.material-icons check
                  - elsif not ev.result?
                    %i.material-icons block
                  - else
                .col.s3
                  .input-field
                    /= f.text_field :description
                    = ev.description
      #tab_evidence
        .card-content.indigo.lighten-5
          %h4 รายการหลักฐาน
          = render "evidence"
      #tab_app
        .card-content.indigo.lighten-5
          .section
            .row
              .col.s12
                %h5 ข้อมูลใบสมัคร
                = render partial: "applications/application"
      - unless @application.category3?
        #tab_car
          .card-content.indigo.lighten-5
            = render partial: "applications/cars"


