.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12.m4.push-m8
            .card
              .card-content
                ให้พิจารณาผลการประเมินของใบสมัคร จากรายละเอียด้านล่างนี้ โดยเฉพาะในหัวข้อผลการประเมิน หลังจากนั้นให้บันทึกผลการตัดสินโดยกรอกข้อมูลในฟอร์ม "การบันทึกผล" แล้วกดปุ่ม "ยืนยัน" เพื่อบันทึกข้อมูล
          .col.s12.m8.pull-m4
            .card-title
              %h4 การบันทึกผลการตัดสิน
            %h5 บันทึกผลการตัดสิน
            = form_with url: process_award_path(@application), local: true do |f|
              .row
                .col.s12
                  %label
                    = radio_button_tag :result, 'ok'
                    %span ตัดสินให้ตราสัญลักษณ์
              .section
              .row
                .col.s12
                  %label
                    = radio_button_tag :result, 'no'
                    %span ตัดสินไม่ให้ตรา
              .row
                .input-field.col.s12
                  = f.text_area :award_remark, class: 'materialize-textarea'
              %button.btn.waves-effect.waves-light ยืนยันการตัดสินผล
              /= link_to 'ย้อนกลับ', process_awards_path, class: 'waves-effect waves-light orange btn'
    .card
      .card-content
        .row
          .col.s12.m8
          .col.s12.m3
        .row
          .col.s12
            %ul.tabs
              %li.tab.col.m3
                %a{href: '#tab_app'}ข้อมูลใบสมัคร
              %li.tab.col.m3
                %a{href: '#tab_evidence'}หลักฐาน
              %li.tab.col.m3
                %a{href: '#tab_eval'}การประเมิน
              %li.tab.col.m3
                %a{href: '#tab_car'}ข้อมูลรถ

          #tab_eval.col.s12
            - last_cg = nil
            - @application.evaluations.joins(:criterium => :criteria_group).order('criteria_groups.id, criteria.number').each do |ev|
              - if ev.criterium.criteria_group != last_cg
                - last_cg = ev.criterium.criteria_group
                .divider
                .row
                  .col.s12
                    %h5= last_cg.name
                .row
                  .col.s4
                    = t(:name, scope: 'activerecord.attributes.criterium')
                  .col.s2
                    ผลการประเมิน
                  .col.s4
                    คำอธิบายผลการประเมิน
                  .col.s2
              .row
                = simple_form_for ev, remote: true do |f|
                  .col.s4
                    = "#{ev.criterium.number}. #{ev.criterium.name}"
                  .col.s2
                    - if rand(1..2) == 1
                      %i.material-icons check
                    - else
                      %i.material-icons block
                  .col.s4
                    .input-field
                      = f.text_field :description
                  .col.s2
                    = link_to 'ดูหลักฐาน', {}, class: 'btn cyan'
          #tab_evidence.col.s12
            %h4 รายการหลักฐาน
            = render "evidence"
          #tab_app.col.s12
            .section
              .row
                .col.s12
                  %h5 ข้อมูลใบสมัคร
                  = render partial: "applications/application"
          #tab_route.col.s12
          #tab_car.col.s12
            = render partial: "applications/cars"


