.row
  .col.s12
    - if @current_user&.has_role(:licensee)
      .row
        .col.s12.m12
          .card
            .card-content
              %h5 ใบสมัครรอการดำเนินการโดยผู้ประกอบการ
              ใบสมัครต่อไปนี้ยังมีขั้นตอนที่ต้องดำเนินการโดยผู้ประกอบการ ขอให้ดำเนินการให้ครบถ้วน
            .divider
            .card-content.grey.lighten-4
              %h6 ใบสมัครอยู่ระหว่างกรอกข้อมูลเบื้องต้น
              - if @applying.count > 0
                %table
                  %thead
                    %tr
                      %th หมายเลข
                      %th= t(:name, scope: 'activerecord.attributes.licensee')
                      %th= t(:route_no, scope: 'activerecord.attributes.application')
                      %th= t(:route_info, scope: 'activerecord.attributes.application')
                      %th วันที่ยื่นใบสมัคร
                      %th= t(:state, scope: 'activerecord.attributes.application')
                      %th
                  %tbody
                    - @applying.each do |app|
                      %tr
                        %td= app.id_text
                        %td= app.licensee&.name
                        %td= app.route_no
                        %td= app.route_info
                        %td= thai_year(app.created_at, '%d %b tYY')
                        %td
                          = state_full(app)
                          - if app.confirm_result == false
                            %p.red-text.tooltipped{data: {tooltip: app.confirm_comment, position: 'bottom'}}
                              %i.material-icons.left error
                              ใบสมัครไม่ถูกต้อง
                        %td.strong
                          = link_to 'แก้ไข', apply_step1_application_path(app)
                          /= link_to 'แก้ไข', apply_step1_application_path(app), class: 'button waves-effect waves-light blue darken-2 btn'
              - else
                ไม่มีใบสมัครอยู่ระหว่างการกรอกข้อมูลเบื้องต้น

            .divider
            .card-content.grey.lighten-3
              %h6 ใบสมัครรอการส่งหลักฐานเพิ่มเติม
              - if @need_evidences.count > 0
                %table
                  %thead
                    %tr
                      %th หมายเลข
                      %th= t(:name, scope: 'activerecord.attributes.licensee')
                      %th= t(:route_no, scope: 'activerecord.attributes.application')
                      %th= t(:route_info, scope: 'activerecord.attributes.application')
                      %th วันที่ยื่นใบสมัคร
                      %th การตรวจหน้างาน
                      %th= t(:state, scope: 'activerecord.attributes.application')
                      %th
                  %tbody
                    - @need_evidences.each do |app|
                      %tr
                        %td= app.id_text
                        %td= app.licensee&.name
                        %td= app.route_no
                        %td= app.route_info
                        %td= thai_year(app.created_at, '%d %b tYY')
                        %td= app.visit_status
                        %td
                          = state_full(app)
                          - if app.evaluation_result.blank? == false && app.evaluated_date
                            %p.red-text.tooltipped{data: {tooltip: app.evaluation_result, position: 'bottom'}}
                              %i.material-icons.left error
                              หลักฐานมีปัญหา
                        %td.strong
                          = link_to 'ส่งหลักฐาน', add_evidences_application_path(app)
              - else
                ไม่มีใบสมัครที่ต้องส่งหลักฐานเพิ่มเติม
            .card-action
              = link_to 'สร้างใบสมัครใหม่', apply_applications_path, class: 'btn waves-effect waves-light green'
              = link_to 'กลับไปหน้าแรก', root_path, class: 'btn waves-effect waves-light gradient-45deg-deep-orange-orange'
          .card
            .card-content
              %h5 ใบสมัครรอดำเนินการโดยเจ้าหน้าที่
              - if @waiting_official.count > 0
                ใบสมัครต่อไปนี้อยู่ระหว่างการตรวจสอบข้อมูลหรือหลักฐานต่าง ๆ โดยกรมการขนส่งทางบก ขอให้ผู้ใช้รอผล
                %table
                  %thead
                    %tr
                      %th หมายเลข
                      %th= t(:name, scope: 'activerecord.attributes.licensee')
                      %th= t(:route_no, scope: 'activerecord.attributes.application')
                      %th= t(:route_info, scope: 'activerecord.attributes.application')
                      %th วันที่ยื่นใบสมัคร
                      %th การตรวจหน้างาน
                      %th= t(:state, scope: 'activerecord.attributes.application')
                  %tbody
                    - @waiting_official.each do |app|
                      %tr
                        %td= app.id_text
                        %td= app.licensee&.name
                        %td= app.route_no
                        %td= app.route_info
                        /%td= l(app.created_at, format: :short_date, default: nil)
                        %td= thai_year(app.created_at, '%d %B tYY')
                        %td= app.visit_status
                        %td= state_full(app)
              - else
                ไม่มีใบสมัครรอการตรวจสอบ

          .card
            .card-content
              %h5 ใบสมัครดำเนินการเสร็จแล้ว
              - if @finished.count > 0
                ใบสมัครต่อไปนี้ดำเนินการเสร็จสิ้นแล้ว สามารถตรวจดูผลการดำเนินการได้ด้านล่างนี้
                %table
                  %thead
                    %tr
                      %th หมายเลข
                      %th ผู้ประกอบการ
                      %th= t(:route_no, scope: 'activerecord.attributes.application')
                      %th= t(:route_info, scope: 'activerecord.attributes.application')
                      %th ยื่นใบสมัคร
                      %th ตัดสินผล
                      %th ผลการตัดสิน
                      %th หมดอายุ
                      %th
                  %tbody
                    - @finished.each do |app|
                      %tr
                        %td= app.id_text
                        %td= app.licensee&.name
                        %td= app.route_no
                        %td= app.route_info
                        %td= thai_year(app.created_at, '%d %b tYY')
                        -# %td= l(app.created_at, format: :short_date, default: nil)
                        %td= thai_year(app.awarded_date, '%d %b tYY')
                        -# %td= l(app.awarded_date, format: :short_date, default: nil)
                        %td= final_award_text(app)
                        %td= thai_year(app.award_expire_date, '%d %b tYY')
                        -# %td= l(app.award_expire_date, format: :short_date, default: nil)
                        %td
                          - if app.award_won
                            / = link_to 'ต่ออายุ', extend_from_application_path(app), class: 'btn green waves-effect waves-light'
                            %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'extend-app',url: extend_from_application_url(app)}} ต่ออายุ
              - else
                ไม่มีใบสมัครที่ดำเนินการเสร็จแล้ว
    - if @current_user&.is_official?
      .row
        .col.s12.m12
          .card
            .card-content
              .card-title
                %h5 ใบสมัครรอการดำเนินการโดยเจ้าหน้าที่กรมการขนส่งทางบก
            - if @current_user.has_role(:verifier)
              .divider
              .card-content
                .card-title
                  %h6 ระบบงานตรวจสอบใบสมัคร
                .row
                  .col.s8
                    มีใบสมัครจำนวน #{@to_be_confirmed.count} ใบที่รอการตรวจสอบ
                  .col.s4.right-align
                    = link_to 'ตรวจสอบ', process_registers_path, class: 'btn btn-small gradient-45deg-deep-orange-orange'
            - if @current_user.has_role(:evaluator)
              .divider
              .card-content
                .card-title
                  %h6 ระบบประเมินผล
                .row
                  .col.s8
                    มีใบสมัครจำนวน #{@to_be_evaluated.count} ใบที่รอการประเมิน
                  .col.s4.right-align
                    = link_to 'ประเมิน', process_evaluations_path, class: 'btn btn-small gradient-45deg-deep-orange-orange'
            - if @current_user.has_role(:surveyor)
              .divider
              .card-content
                .card-title
                  %h6 ระบบงานนัดหมาย และ ตรวจหน้างาน
                .row
                  .col.s8
                    มีใบสมัครจำนวน #{@to_be_appointed.count} ใบที่รอการนัดหมาย
                    %br
                    มีใบสมัครจำนวน #{@to_be_visited.count} ใบที่รอการตรวจหน้างาน
                  .col.s4.right-align
                    = link_to 'นัดหมาย', process_appointments_path, class: 'btn btn-small gradient-45deg-deep-orange-orange'
            - if @current_user.has_role(:committee)
              .divider
              .card-content
                .card-title
                  %h6 ระบบตัดสินผลมาตรฐาน
                .row
                  .col.s8
                    มีใบสมัครจำนวน #{@to_be_awarded.count} ใบที่รอการตัดสินผลมาตรฐานตราสัญลักษณ์ Q-BUS
                  .col.s4.right-align
                    = link_to 'ตัดสินผล', process_awards_path, class: 'btn gradient-45deg-deep-orange-orange btn-small'

= render "applications/extend_modal"
