.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12.m9
            %h4 ใบสมัครรอการประเมินหลักฐาน
            %table
              %thead
                %tr
                  %th หมายเลข
                  %th= t(:name, scope: 'activerecord.attributes.licensee')
                  %th= t(:route_no, scope: 'activerecord.attributes.application')
                  %th= t(:route_info, scope: 'activerecord.attributes.application')
                  %th วันที่ยื่นใบสมัคร
                  -# %th= t(:appointment_date, scope: 'activerecord.attributes.application')
                  -# %th= t(:appointment_remark, scope: 'activerecord.attributes.application')
                  %th กรอกแล้ว
                  %th
              %tbody
                - @to_be_evaluated.each do |app|
                  %tr
                    %td= app.id_text
                    %td= app.licensee&.name
                    %td= app.route_no
                    %td= app.route_info
                    %td= thai_year(app.created_at, '%d %b tYY')
                    -# %td= app.appoint_date
                    -# %td= app.appointment_remark
                    %td= "#{app.evaluated_count}/#{Criterium.need_evaluation.count}"
                    %td= link_to 'ประเมิน', process_evaluation_path(app.id), class: 'waves-effect waves-light gradient-45deg-deep-orange-orange btn'
          .col.s12.m3
            %h4 การประเมินหลักฐาน
            .section
              %p ให้เจ้าหน้าที่ตรวจสอบหลักฐาน และประเมินผลหลักฐานตามใบสมัครต่าง ๆ ทางด้านซ้ายโดยกดปุ่ม "ประเมิน"
            .section
              %p หลังจากกรอกข้อมูลครบถ้วนและตรวจทานเรียบร้อยแล้ว ให้กดปุ่ม "ยืนยันผล" เพื่อส่งไปสมัครไปยังขั้นตอนการนัดหมายและตรวจหน้างานต่อไป
    .card
      .card-content
        .row
          .col.s12
            %h5 ใบสมัครที่รับการประเมินล่าสุด (ภายใน 30 วันที่ผ่านมา)
            %table
              %thead
                %tr
                  %th หมายเลข
                  %th= t(:name, scope: 'activerecord.attributes.licensee')
                  %th= t(:route_no, scope: 'activerecord.attributes.application')
                  %th= t(:route_info, scope: 'activerecord.attributes.application')
                  %th วันที่ยื่นใบสมัคร
                  %th= t(:state, scope: 'activerecord.attributes.application')
                  %th วันประเมิน
                  %th.right-align คะแนนรวม
                  %th.right-align คะแนนความปลอดภัย
                  %th= t(:evaluation_result, scope: 'activerecord.attributes.application')
                  %th
              %tbody
                - @latest_evaluated.each do |app|
                  %tr
                    %td= app.id_text
                    %td= app.licensee&.name
                    %td= app.route_no
                    %td= app.route_info
                    %td= thai_year(app.created_at, '%d %b tYY')
                    %td= app.state_text
                    %td= thai_year(app.evaluated_date, '%d %b tYY')
                    %td.right-align= "#{app.total_score}/100"
                    %td.right-align= "#{app.safety_score}/30"
                    %td= app.evaluation_result
                    %td
                      - if @current_user.is_admin?
                        = link_to 'แก้ไขผลประเมิน', process_evaluation_path(app.id), class: 'waves-effect waves-light gradient-45deg-deep-orange-orange btn'


