.row
  .col.s12
    .row
      .col.s12.m4.push-m8
        .card.gradient-45deg-light-green-amber
          .card-content
            .card-title
              %h6 วิธีใช้งาน
            ให้ผู้ประเมินพิจารณาหลักฐานสำหรับเกณฑ์ในหัวข้อต่าง ๆ ด้านล่างนี้และบันทึกผลการประเมินในแต่ละหัวข้อ เมื่อบันทึกเสร็จแล้วให้กดปุ่ม "บันทึก" ด้านล่างสุด
            .section
            ในกรณีที่หลักฐานไม่เพียงพอต่อการประเมิน ผู้ประเมินสามารถร้องขอให้ส่งหลักฐานใหม่ได้ โดยการบันทึกข้อความและกดปุ่มในช่อง "ขอหลักฐานเพิ่มเติม" ด้านซ้าย
            .section
            หลังจากประเมินข้อมูลทั้งหมดแล้ว ให้ยืนยันผลการประเมิน โดยกดปุ่ม "ยืนยันผลการประเมิน"
      = form_with url: process_evaluation_finish_path(@application), local: true do |f|
        .col.s12.m4.pull-m4
          .card
            .card-content
              .card-title
                %h4 ยืนยันการประเมินผล
              กดปุ่ม "ยืนยัน" เมื่อทำการประเมินครบทุกหัวข้อแล้ว
            .card-action
              %button.btn.green.waves-effect.waves-light{value:  :submit} ยืนยันผลการประเมิน
      = form_with url: process_evaluation_reject_path(@application), local: true do |f|
        .col.s12.m4.pull-m4
          .card
            .card-content
              .card-title
                %h4 ขอหลักฐานเพิ่มเติม
              ในกรณีที่หลักฐานไม่ถูกต้อง หรือต้องการหลักฐานเพิ่มเติม ให้กรอกข้อมูลในส่วนนี้แล้วกดปุ่ม "ขอหลักฐาน"
              .row
                .input-field.col.s12
                  = f.label :evaluation_result, 'คำอธิบายกรณีหลักฐานไม่ครบ'
                  = f.text_field :evaluation_result, class: 'materialize-textarea'
            .card-action
              %button.btn.red.waves-effect.waves-light{value:  :submit} ขอหลักฐาน
              /= link_to 'ย้อนกลับ', process_evaluations_path, class: 'waves-effect waves-light orange btn'
    = form_with url: process_evaluation_path(@application), local: true do |f|
      .card.orange.lighten-2
        .card-content
          %h5 ข้อมูลใบสมัคร
        .card-tabs
          %ul.tabs.tabs-fixed-width.tabs-transparent
            %li.tab
              %a{href: '#tab_eval'}การประเมิน
            %li.tab
              %a{href: '#tab_visit'}การตรวจหน้างาน
            %li.tab
              %a{href: '#tab_app'}ข้อมูลใบสมัคร
            %li.tab
              %a{href: '#tab_evidence'}หลักฐาน
            - #unless @application.category3?
            %li.tab
              %a{href: '#tab_car'}ข้อมูลรถ
        #tab_eval
          .card-content.orange.lighten-5
            - last_cg = nil
            - @application.evaluation_main.each do |ev|
              - if ev.criterium.criteria_group != last_cg
                - if last_cg != nil
                  .divider
                - last_cg = ev.criterium.criteria_group
                .row
                  .col.s12
                    %h5= last_cg.name
                .row
                  .col.s7.strong
                    = t(:name, scope: 'activerecord.attributes.criterium')
                  .col.s2.strong
                    ผลการประเมิน
                  .col.s3.strong
                    คำอธิบายผลการประเมิน
              .row
                .col.s7
                  = "#{ev.criterium.number}. #{ev.criterium.name}"
                  %br
                  .row
                    .col.s2
                    .col.s7.strong หลักฐานที่แนบมาด้วย
                    .col.s3
                  - ev.criterium.evidences.each do |evid|
                    .row
                      .col.s2
                      .col.s7
                        = evid.name
                      .col.s3
                        - att = @application.attachments.where(evidence: evid)
                        - if att.count > 0
                          = link_to rails_blob_path(att.first.data, disposition: "attachment") do
                            %i.material-icons.small insert_drive_file
                            = t(:download)
                        - else
                          %span.red-text - ไม่ได้แนบ -
                  %br
                .col.s2
                  %label
                    = radio_button_tag "result[#{ev.id}]", 1, ev.result == 1
                    %span 100%
                  %br
                  %label
                    = radio_button_tag "result[#{ev.id}]", 0.5, ev.result == 0.5
                    %span 50%
                  %br
                  %label
                    = radio_button_tag "result[#{ev.id}]", 0, ev.result == 0
                    %span 0%
                .col.s3
                  .input-field
                    = f.text_field "description[#{ev.id}]", value: ev.description, class: 'materialize-textarea'
          .card-action.orange.lighten-5
            %button.btn.waves-effect.waves-light{value:  :submit} บันทึก
        #tab_evidence
          .card-content.orange.lighten-5
            %h4 รายการหลักฐาน
            = render "evidence"
        #tab_visit
          .card-content.orange.lighten-5
            %h4 ข้อมูลการตรวจประะเมินหน้างาน
            = render "visit"
        #tab_app
          .card-content.orange.lighten-5
            = render partial: "applications/application"
        #tab_route
          .card-content.orange.lighten-5
        - unless @application.category3?
          #tab_car
            .card-content.orange.lighten-5
              = render partial: "applications/cars"
