.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12.m9
            %h4 ใบสมัครรอข้อมูลการประเมิน
            %table
              %thead
                %th= t(:name, scope: 'activerecord.attributes.licensee')
                %th= t(:start, scope: 'activerecord.attributes.route')
                %th= t(:destination, scope: 'activerecord.attributes.route')
                %th วันที่ยื่นใบสมัคร
                %th= t(:appointment_date, scope: 'activerecord.attributes.application')
                %th= t(:appointment_remark, scope: 'activerecord.attributes.application')
                %th กรอกแล้ว
                %th
              %tbody
                - @to_be_evaluated.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route_start
                    %td= app.route_destination
                    %td= l(app.created_at, format: '%d %b %y')
                    %td= app.appoint_date
                    %td= app.appointment_remark
                    %td= "#{app.evaluated_count}/#{Criterium.need_evaluation.count}"
                    %td= link_to 'ประเมิน', process_evaluation_path(app.id), class: 'waves-effect waves-light gradient-45deg-deep-orange-orange btn'
          .col.s12.m3
            %h4 การกรอกผลการประเมิน
            .section
              %p หลังจากเจ้าหน้าที่เข้าประเมินผู้ประกอบการเพื่อทำการประเมินตามใบสมัครแล้ว ให้กรอกข้อมูลผลการประเมินของใบสมัครต่าง ๆ ทางด้านซ้ายโดยกดปุ่ม "ประเมิน"
            .section
              %p หลังจากกรอกข้อมูลครบถ้วนและตรวจทานเรียบร้อยแล้ว ให้กดปุ่ม "ส่งต่อ" เพื่อทำการส่งผลการประเมินไปยังคณะกรรมการตัดสินผลการมอบตราสัญลักษณ์
    .card
      .card-content
        .row
          .col.s12
            %h4 ใบสมัครที่รับการประเมินล่าสุด
            %table
              %thead
                %th= t(:name, scope: 'activerecord.attributes.licensee')
                %th= t(:start, scope: 'activerecord.attributes.route')
                %th= t(:destination, scope: 'activerecord.attributes.route')
                %th วันที่ยื่นใบสมัคร
                %th= t(:state, scope: 'activerecord.attributes.application')
                %th วันประเมิน
                %th= t(:evaluation_result, scope: 'activerecord.attributes.application')
                %th
              %tbody
                - @latest_evaluated.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route_start
                    %td= app.route_destination
                    %td= l(app.created_at, format: '%d %b %Y')
                    %td= app.state_text
                    %td= l(app.evaluated_date, format: '%d %b %Y')
                    %td= app.evaluation_result
                    %td= link_to 'แก้ไขผลประเมิน', process_evaluation_path(app.id), class: 'waves-effect waves-light gradient-45deg-deep-orange-orange btn'


