.row
  .col.s12.m3.push-m9
    .card.gradient-45deg-light-green-amber
      .card-content
        %h6 วิธีการตรวจสอบใบสมัคร
        .section
          %p ทำการตรวจสอบและยืนยันการสมัครเข้าร่วมโครงการโดยพิจารณาจากข้อมูล รวมถึงรูปถ่ายหรือสำเนาของ หนังสือสัญญา และ ใบยืนยันการเข้าร่วมโครงการ
        .section
          %p กดปุ่ม "ตรวจ" เพื่อดูใบสมัครแต่ละใบ และกดปุ่ม "ยืนยันใบสมัคร" ถ้าใบสมัครดังกล่าวถูกต้อง
  .col.s12.m9.pull-m3
    .card
      .card-content
        %h4 ใบสมัครรอการตรวจสอบความถูกต้อง
        %table
          %thead
            %th= t(:name, scope: 'activerecord.attributes.licensee')
            %th= t(:start, scope: 'activerecord.attributes.route')
            %th= t(:destination, scope: 'activerecord.attributes.route')
            %th วันที่ยื่นใบสมัคร
            %th= t(:contact_short, scope: 'activerecord.attributes.application')
            %th= t(:contact_tel_short, scope: 'activerecord.attributes.application')
            %th
          %tbody
            - @to_be_confirmed.each do |app|
              %tr
                %td= app.licensee.name
                %td= app.route_start
                %td= app.route_destination
                %td= l(app.created_at, format: '%d %b %y')
                %td= app.contact
                %td= app.contact_tel
                %td
                  = link_to 'ตรวจ', process_register_path(app), class: 'waves-effect waves-light btn-small'
.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12
            %h4 ใบสมัครที่ได้รับการตรวจสอบแล้ว (ภายใน 30 วันที่ผ่านมา)
            %table
              %thead
                %th= t(:name, scope: 'activerecord.attributes.licensee')
                %th= t(:start, scope: 'activerecord.attributes.route')
                %th= t(:destination, scope: 'activerecord.attributes.route')
                %th วันที่ยื่นใบสมัคร
                %th= t(:contact_short, scope: 'activerecord.attributes.application')
                %th= t(:contact_tel_short, scope: 'activerecord.attributes.application')
                %th= t(:confirmed_date, scope: 'activerecord.attributes.application')
                %th= t(:register_result, scope: 'activerecord.attributes.application')
                %th
              %tbody
                - @latest_confirmed.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route_start
                    %td= app.route_destination
                    %td= l(app.created_at, format: '%d %b %Y')
                    %td= app.contact
                    %td= app.contact_tel
                    %td= l(app.confirmed_date, format: '%d %b %Y')
                    %td= app.register_result
                    %td
                      = link_to 'แก้ไข', process_register_path(app), class: 'button waves-effect waves-light btn-small'


