.row
  .col.s12
    .card
      .card-content
        .row
          .col.s12.m9
            %h4 ใบสมัครรอการตรวจ
            %table
              %thead
                %th= t(:name, scope: 'activerecord.attributes.licensee')
                %th= t(:start, scope: 'activerecord.attributes.route')
                %th= t(:destination, scope: 'activerecord.attributes.route')
                %th วันที่ยื่นใบสมัคร
                %th= t(:contact, scope: 'activerecord.attributes.application')
                %th= t(:contact_tel, scope: 'activerecord.attributes.application')
                %th
              %tbody
                - @to_be_confirmed.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route.start
                    %td= app.route.destination
                    %td= l(app.created_at, format: '%d %b %y')
                    %td= app.contact
                    %td= app.contact_tel
                    %td
                      %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'appoint',application: app.id, date: app.appointment_date, remark: app.appointment_remark}} ตรวจ
          .col.s12.m3
            %h4 การตรวจใบสมัคร
            .section
              %p ทำการตรวจสอบและยืนยันการสมัครเข้าร่วมโครงการโดยพิจารณาจากข้อมูล รวมถึงรูปถ่ายหรือสำเนาของ หนังสือสัญญา และ ใบยืนยันการเข้าร่วมโครงการ
            .section
              %p กดปุ่ม "ตรวจ" เพื่อดูใบสมัครแต่ละใบ และกดปุ่ม "ยืนยันใบสมัคร" ถ้าใบสมัครดังกล่าวถูกต้อง
    .card
      .card-content
        .row
          .col.s12
            %h4 ใบสมัครล่าสุดที่ยืนยันแล้ว
            %table
              %thead
                %th= t(:name, scope: 'activerecord.attributes.licensee')
                %th= t(:start, scope: 'activerecord.attributes.route')
                %th= t(:destination, scope: 'activerecord.attributes.route')
                %th วันที่ยื่นใบสมัคร
                %th= t(:contact, scope: 'activerecord.attributes.application')
                %th= t(:contact_tel, scope: 'activerecord.attributes.application')
                %th= t(:confirmed_date, scope: 'activerecord.attributes.application')
                %th
              %tbody
                - @latest_confirmed.each do |app|
                  %tr
                    %td= app.licensee.name
                    %td= app.route.start
                    %td= app.route.destination
                    %td= l(app.created_at, format: '%d %b %Y')
                    %td= app.contact
                    %td= app.contact_tel
                    %td= l(app.confirmed_date, format: '%d %b %Y')
                    %td
                      %button.waves-effect.waves-light.green.modal-trigger.btn{ data: {target: 'appoint',application: app.id, date: app.appointment_date, remark: app.appointment_remark}} ดูใบสมัคร


/modal
#appoint.modal{style: 'width: 60% !important;'}
  = form_with url: appoint_process_appointment_path, local: true do |f|
    .modal-content
      %h4 ระบุข้อมูลนัดหมาย

      กรุณาพิมพ์ข้อมูลการนัดหมาย
      .row
        .input-field.col.s6
          = f.text_field :appointment_date, class: 'datepicker'
          = f.label t(:appointment_date, scope: 'activerecord.attributes.application')
      .row
        .input-field.col.s6
          %i.material-icons.prefix face
          = f.text_area :appointment_remark, class: 'materialize-textarea', rows: 4, style: 'height: 200px;'
          = f.label t(:appointment_remark, scope: 'activerecord.attributes.application')
      = hidden_field_tag :id, 1, id: 'application_id'
      %br
      %br
      %br
      %br
    .modal-footer
      = f.submit 'ทำการนัดหมาย', class: 'waves-effect green waves-green btn-flat'
      %a.modal-close.waves-effect.waves-red.btn-flat{href: "#!"} ยกเลิก

:coffee
  @setform = (date,remark,id) ->
    $(".modal #appointment_date").val(date)
    $(".modal #appointment_remark").val(remark)
    $(".modal #application_id").val(id)
    M.updateTextFields()

  $ ->
    $("button[data-application]").click (e) ->
      e.preventDefault()
      date = $(this).data("date")
      remark = $(this).data("remark")
      id = $(this).data("application")
      setform(date,remark,id)
