= simple_form_for(@public_comment, url: form_url,  method: form_method) do |f|
  = f.error_notification
  .row
    .col.s12
      .row
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :route_no, list: 'route_list'
          %datalist{id: 'route_list'}
            - Route.all.each do |route|
              %option{value: route.route_no}
          = f.label :route_no
          = f.full_error :route_no
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :car_plate, list: 'car_list'
          %datalist{id: 'car_list'}
            - Car.all.each do |car|
              %option{value: car.plate}
          = f.label :car_plate
          = f.full_error :car_plate
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :licensee_name, list: 'licensee_list'
          %datalist{id: 'licensee_list'}
            - Licensee.all.each do |licensee|
              %option{value: licensee.name}
          = f.label :licensee_name
          = f.full_error :licensee_name
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :comment, class: 'materialize-textarea', style: 'height: 70px;'
          = f.label :comment
          = f.full_error :comment
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :commenter_name
          = f.label :commenter_name
          = f.full_error :commenter_name
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :commenter_contact
          = f.label :commenter_contact
          = f.full_error :commenter_contact
        .input-field.col.s12
          %i.material-icons.prefix help
          = f.input_field :commenter_address
          = f.label :commenter_address
          = f.full_error :commenter_address
  = f.button :submit, class: "btn waves-light left"
- if back_link
  = link_to t(:cancel), back_link, style: "margin-left: 2em", class: "btn white black-text waves-black waves-effect"
