.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          =t(:public_comment, scope: 'activerecord.models')
          =@public_comment.id
      .card-content
        .section
          %h6= t(:route_no, scope: 'activerecord.attributes.public_comment')
          = @public_comment.route_no
        .section
          %h6= t(:route, scope: 'activerecord.attributes.public_comment')
          = @public_comment.route&.name
        .section
          %h6= t(:car_plate, scope: 'activerecord.attributes.public_comment')
          = @public_comment.car_plate
        .section
          %h6= t(:car, scope: 'activerecord.attributes.public_comment')
          = @public_comment.car&.chassis
        .section
          %h6= t(:licensee_name, scope: 'activerecord.attributes.public_comment')
          = @public_comment.licensee_name
        .section
          %h6= t(:licensee, scope: 'activerecord.attributes.public_comment')
          = @public_comment.licensee&.license_no
        .section
          %h6= t(:comment, scope: 'activerecord.attributes.public_comment')
          = @public_comment.comment
        .section
          %h6= t(:commenter_name, scope: 'activerecord.attributes.public_comment')
          = @public_comment.commenter_name
        .section
          %h6= t(:commenter_contact, scope: 'activerecord.attributes.public_comment')
          = @public_comment.commenter_contact
        .section
          %h6= t(:commenter_address, scope: 'activerecord.attributes.public_comment')
          = @public_comment.commenter_address
        .section
          %h6= t(:updated_at)
          = @public_comment.updated_at

      .card-action
        = link_to t(:edit), edit_public_comment_path(@public_comment)
        = link_to t(:back), public_comments_path
