%h1 Listing routes

%table
  %thead
    %tr
      %th Name
      %th Start
      %th Destination
      %th Car count
      %th Type
      %th
      %th
      %th

  %tbody
    - @routes.each do |route|
      %tr
        %td= route.name
        %td= route.start
        %td= route.destination
        %td= route.car_count
        %td= route.type
        %td= link_to 'Show', route
        %td= link_to 'Edit', edit_route_path(route)
        %td= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Route', new_route_path
