%p#notice= notice

%p
  %b=t(:name)
  = @route.name
%p
  %b=t(:start)
  = @route.start
%p
  %b=t(:destination)
  = @route.destination
%p
  %b=t(:car_count)
  = @route.car_count
%p
  %b=t(:type)
  = @route.type

= link_to 'Edit', edit_route_path(@route)
\|
= link_to 'Back', routes_path
