.row
  .col.s10.offset-s1
    .card
      .card-content.deep-purple
        .card-title
          %h4.white-text= t(:list) + t(:licensee, scope: 'activerecord.models')
      .card-content
        .dataTables_wrapper
          %table#table.dataTable.display
            %thead
              %tr
                %th= t(:license_no, scope: 'activerecord.attributes.licensee')
                %th= t(:name, scope: 'activerecord.attributes.licensee')
                %th= t(:contact, scope: 'activerecord.attributes.licensee')
                %th= t(:contact_tel, scope: 'activerecord.attributes.licensee')
                %th= t(:contact_email, scope: 'activerecord.attributes.licensee')
                %th
            %tbody
              - @licensees.each do |licensee|
                %tr
                  %td= licensee.license_no
                  %td= licensee.name
                  %td= licensee.contact
                  %td= licensee.contact_tel
                  %td= licensee.contact_email
                  %td.right-align
                    %a{:href => licensee_path(licensee)}
                      %i.material-icons pageview
                    %a{:href => edit_licensee_path(licensee)}
                      %i.material-icons edit
                    %a{"href" => licensee_path(licensee), "rel" => "nofollow", "data-method" => "delete", "data-confirm" => t(:confirm_delete)}
                      %i.material-icons delete
      .card-action
        = link_to t(:new), new_licensee_path, class: 'btn green waves-effect waves-light'

:coffee
  $(document).ready ->
    $('#table').DataTable(
      $.extend(
        {
          'responsive': true,
          'lengthChange': false,
          'columnDefs': [
            {'orderable': false, 'targets': -1},
            {'responsivePriority': 1, 'targets': 0},
            {'responsivePriority': 2, 'targets': -1}
          ]
        },
        dataTableDefaultOption()
      )
    )
