%h1 Listing licensees

%table
  %thead
    %tr
      %th Name
      %th License no
      %th License expire
      %th Car count
      %th Contact
      %th Contact tel
      %th
      %th
      %th

  %tbody
    - @licensees.each do |licensee|
      %tr
        %td= licensee.name
        %td= licensee.license_no
        %td= licensee.license_expire
        %td= licensee.car_count
        %td= licensee.contact
        %td= licensee.contact_tel
        %td= link_to 'Show', licensee
        %td= link_to 'Edit', edit_licensee_path(licensee)
        %td= link_to 'Destroy', licensee, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Licensee', new_licensee_path
