.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          =t(:licensee, scope: 'activerecord.models')
          =@licensee.id
      .card-content
        .section
          %h6= t(:name, scope: 'activerecord.attributes.licensee')
          = @licensee.name
        .section
          %h6= t(:license_no, scope: 'activerecord.attributes.licensee')
          = @licensee.license_no
        .section
          %h6= t(:license_expire, scope: 'activerecord.attributes.licensee')
          = @licensee.license_expire
        .section
          %h6= t(:car_count, scope: 'activerecord.attributes.licensee')
          = @licensee.car_count
        .section
          %h6= t(:contact, scope: 'activerecord.attributes.licensee')
          = @licensee.contact
        .section
          %h6= t(:contact_tel, scope: 'activerecord.attributes.licensee')
          = @licensee.contact_tel
      .card-action
        = link_to t(:edit), edit_licensee_path(@licensee)
        = link_to t(:back), licensees_path
