%p#notice= notice

%p
  %b=t(:name)
  = @licensee.name
%p
  %b=t(:license_no)
  = @licensee.license_no
%p
  %b=t(:license_expire)
  = @licensee.license_expire
%p
  %b=t(:car_count)
  = @licensee.car_count
%p
  %b=t(:contact)
  = @licensee.contact
%p
  %b=t(:contact_tel)
  = @licensee.contact_tel

= link_to 'Edit', edit_licensee_path(@licensee)
\|
= link_to 'Back', licensees_path
