!!!
%html
  %head
    %title Q-Bus
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "/", :name => "turbolinks-root"}/
    %meta{:content => "no-preview", :name => "turbolinks-cache-control"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
    = csp_meta_tag
  %body.vertical-layout.page-header-light.vertical-menu-collapsible.vertical-menu-nav-dark.2-columns{"data-col" => "2-columns", "data-menu" => "vertical-menu-nav-dark", "data-open" => "click"}
    /header
    = render 'layouts/header_1'
    = render 'layouts/side_bar'
    /main
    = render 'layouts/main'
    /footer
    = render 'layouts/footer_1'
